<template>
  <router-view></router-view>
</template>

<script>
export default {
  name: "App",
};
</script>

<style>
* {
  margin: 0;
  padding: 0;
  list-style: none;
  user-select: none;
}
html,
body,
#app {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
#nprogress .bar {
  width: 100%;
  height: 5px;
  background: red !important;
}
</style>
