<template>
  <div class="answerLeader">
    <!-- 头部面包屑 -->
    <div class="crumbs">
      <el-breadcrumb separator="/" class="crumbs_top">
        <el-breadcrumb-item>问答</el-breadcrumb-item>
        <el-breadcrumb-item>问答列表</el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <div class="box_content">
      <!-- tab切换 -->
      <div class="train_resource">
        <div class="resource_type">
          <span>来源：</span>
          <span class="actives">网站2021A班</span>
        </div>
        <div class="resource_types" style="display: flex">
          <span>状态：</span>
          <div class="r_t_list">
            <span
              v-for="(item, index) in statu"
              :key="index"
              :class="currentIndex == index ? 'active' : ''"
              @click="setType(index)"
              >{{ item.name }}</span
            >
          </div>
        </div>
      </div>
      <!--  -->
      <div class="el-tabs__nav-scroll">
        <div class="tab-first"><b>待处理问答</b></div>
        <div class="tab-second"><b>所有问题</b></div>
      </div>
      <div class="condition_btn">
        <div class="check">
          <h5><input type="checkbox" /> 全选</h5>
          <el-button>批量回答</el-button>
          <el-button>批量选择相似问题答案</el-button>
          <el-input
            placeholder="搜索问答"
            style="width: 200px"
            v-model="searchTitle"
            @change="changeIpt()"
          />
        </div>
      </div>
      <div class="question_list">
        <div
          class="question_content"
          v-for="(item, index) in list"
          :key="index"
        >
          <div class="t_a_list">
            <div class="a">
              <small>{{ item.className }}</small>
              <small>{{ item.qUserName }}</small>
              <small>{{ item.replyTime }}</small>
              <small>实训类型: 面试 </small>
              <span>
                <i class="el-icon-s-comment"></i>
                {{ item.answerCount }}
              </span>
            </div>
            <div class="b">
              <span v-if="item.supportUpB">
                <img
                  src="http://111.203.59.61:8060/static/img/boutique.fc46be52.svg"
                  alt=""
                />
              </span>
              <span>{{ item.questionContent }}</span>
            </div>
            <div class="p">
              <input type="checkbox" class="cke" />
              <p :class="item.unsupportDownB ? 'wz' : ''">
                {{ item.questionTitle }}
              </p>
              <h6
                @click="item.unsupportDownB = !item.unsupportDownB"
                style="color: #679cf6"
              >
                查看全部
                <i class="el-icon-arrow-down" v-if="!item.unsupportDownB"></i>
                <i class="el-icon-arrow-up" v-if="item.unsupportDownB"></i>
              </h6>
            </div>
            <el-switch
              style="display: block"
              v-model="value2"
              active-color="#13ce66"
              inactive-color="#ff4949"
            >
            </el-switch>
            <div class="c">
              <!-- <span v-for="(item1, index1) in item.labels" :key="index1">
        {{ item1 }}
      </span> -->
              <!-- 标签 -->
            </div>
            <div class="d">
              <el-button type="primary" @click="detail(item.answerId)">
                回答
              </el-button>
              <el-button type="primary">
                选择其它有 "正确答案" 的类似问题
              </el-button>
              <el-button
                type="danger"
                @click="item.supportUpB = !item.supportUpB"
              >
                <span v-if="item.supportUpB"> 取消精品 </span>
                <span v-if="!item.supportUpB"> 设为精品 </span>
              </el-button>
            </div>
          </div>
        </div>
      </div>
      <!-- 底部 -->
      <div class="qamanagement-foot">
        <p>
          <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :page-size="pageSize"
            layout="prev, pager, next, jumper"
            :total="total"
          >
          </el-pagination>
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import router from "@/router";
import apis from "@/api/index";
import { reactive, toRefs, onMounted } from "vue";
export default {
  setup() {
    const state = reactive({
      answerId: null, //跳转详情页ID
      value2: true, //开关
      list: [],
      currentIndex: 0, //初始下标
      classId: 9,
      pageSize: 10,
      pageNum: 1,
      total: 0,
      status: "", //切换的状态
      searchTitle: "", //搜索的标题
      statu: [
        {
          name: "全部",
          status: "",
        },
        {
          name: "精品",
          status: "1",
        },
        {
          name: "认证",
          status: "2",
        },
        {
          name: "被屏蔽",
          status: "3",
        },
      ],
    });
    const getanswerLeader = async () => {
      const { classId, pageNum, pageSize, status, searchTitle } = state;
      let res = await apis.answerlist.anserman({
        classId,
        pageNum,
        pageSize,
        status,
        searchTitle,
      });
      if (res.data.code == 200) {
        state.list = res.data.rows;
        state.total = res.data.total;
      }
      console.log(state.list);
    };
    onMounted(() => {
      getanswerLeader();
    });

    const methods = {
      setType(index) {
        state.currentIndex = index;
        state.status = state.statu[index].status;
        getanswerLeader();
      },
      handleSizeChange(val) {
        state.pageSize = val;
        getanswerLeader();
      },
      handleCurrentChange(val) {
        state.pageNum = val;
        getanswerLeader();
      },
      changeIpt() {
        const { searchTitle } = state;
        const val = searchTitle;
        console.log(val);
        getanswerLeader({ searchTitle: val });
      },
      detail(answerId) {
        // console.log(answerId);
        router.push(`/index/session/answerDetail/${answerId}`);
      },
    };

    return {
      ...toRefs(state),
      ...onMounted,
      ...methods,
    };
  },
};
</script>

<style lang="scss">
.answerLeader {
  width: 100%;
  height: auto;
  background: #f4f4f7;
  position: relative;
}
.box_content {
  width: 1200px;
  height: auto;
  margin: 0 170px;
}
.crumbs {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: rgba(103, 156, 246, 0.1);
  .crumbs_top {
    padding: 30px;
    width: 1200px;
    margin: 0 auto;
  }
}
.train_resource {
  width: 1180px;
  height: 143px;
  background: #fff;
  .resource_type {
    padding: 30px 50px;
    span {
      width: 30px;
      height: 10px;
    }
    .actives {
      background: #679cf6;
      color: #fff;
      border-radius: 10px;
    }
  }
  .resource_types {
    padding: 20px 50px;
    .r_t_list {
      span {
        padding: 0 10px;
      }
      span:hover {
        cursor: pointer;
      }
    }
  }
}
.active {
  background: #679cf6;
  color: #fff;
  border-radius: 10px;
}
.el-tabs__nav-scroll {
  width: 1180px;
  height: 68px;
  background: #fff;
  margin-top: 20px;
  border-bottom: 1px solid #ccc;
  display: flex;
  line-height: 68px;
  .tab-first {
    padding: 0 20px;
  }
}
.condition_btn {
  width: 1180px;
  height: 96px;
  background: #f7f8f9;
  .check {
    width: 100%;
    height: 96px;
    background: #f7f8f9;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
.question_list {
  width: 1180px;
  background: #fff;
  display: flex;
  flex-direction: column;
  .question_content {
    margin: 10px 0;
    border-bottom: 1px solid #ccc;
    width: 1140px;
    height: 181px;
    margin-left: 20px;
    .t_a_list {
      width: 1140px;
      height: 139px;
      .a {
        width: 100%;
        height: 22px;
        line-height: 22px;
        margin-left: 80px;
        .cke {
          width: 15px;
          height: 15px;
        }
        small {
          margin: 0 10px;
        }
        span {
          float: right;
          margin-right: 180px;
        }
      }
      .b {
        width: 100%;
        height: 30px;
        margin-left: 40px;
        span {
          margin-left: 50px;
          line-height: 30px;
        }
      }
      .p {
        width: 100%;
        height: 20px;
        line-height: 20px;
        margin: 0 10px;
        cursor: pointer;
        display: flex;
        p {
          line-height: 17px;
          color: #cc7;
          padding-left: 65px;
        }
        h6 {
          margin-left: 850px;
        }
        div {
          float: right;
          margin-right: 15px;
          margin-top: -50px;
        }
      }
      .c {
        width: 100%;
        height: 50px;
        margin-left: 40px;
        span {
          width: 70px;
          height: 25px;
          text-align: center;
          line-height: 25px;
          border-radius: 10px;
          background: #679cf6;
          color: #fff;
          display: inline-block;
          margin: 0 15px;
        }
      }
      .d {
        width: 100%;
        height: 30px;
        margin-top: 10px;
        margin-left: 40px;
        button {
          margin: 0 15px;
        }
      }
    }
  }
}
.qamanagement-foot {
  width: 1180px;
  height: 72px;
  background: #fff;
}
.el-switch {
  float: right;
}
.wz {
  font-size: 20px;
}
</style>
