<template>
  <div class="planOutr">
    <div class="planTop">
      <div class="plantopCon">
        <el-breadcrumb separator="/" class="cur">
          <el-breadcrumb-item>计划</el-breadcrumb-item>
          <el-breadcrumb-item :to="{ path: '/' }">计划管理</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
    </div>
    <div class="planContent">
      <div class="contentBom">
        <div class="bomTop">
          <div class="bomTopLeft">
            <span
              v-for="(item, index) in bomTopArr"
              :key="index"
              :class="bomTopActive === index ? 'bomSpanActive' : ''"
              @click="changPending(index)"
              >{{ item.title }}</span
            >
          </div>
        </div>
        <div class="bomTable">
          <Table :data="tableData" :column="column">
            <!-- 班级/计划 -->
            <template #classoption="{ data }">
              <p style="margin-left: 10px">{{ data.className }}</p>
              <p style="margin-left: 10px">{{ data.planname }}</p>
            </template>
            <!-- 时间 -->
            <template #timeoption="{ data }">
              <p>
                距结束还剩:
                <span id="endtime">0时0分0秒</span>
              </p>
              <p style="margin: 10px 0px">
                开始:
                {{ data.begintime }}
              </p>
              <p>
                结束:
                {{ data.endtime }}
              </p>
            </template>
            <!-- 进度 -->
            <template #jinoption="{ data }">
              <span style="margin-left: 10px; font-size: 20px; color: #ffa841"
                >{{ data.progress }}%</span
              >
            </template>
            <!-- 操作 -->
            <template #zuooption="{ data }">
              <!-- <i class="el-icon-view"></i> -->
              <el-dropdown>
                <span class="el-dropdown-link">
                  <i class="el-icon-view" @click="toDetail(data)"></i>
                </span>
                <template #dropdown>
                  <el-dropdown-menu>
                    <el-dropdown-item>查看</el-dropdown-item>
                  </el-dropdown-menu>
                </template>
              </el-dropdown>
            </template>
          </Table>
          <div class="block" v-if="tableData.length > 0">
            <el-pagination
              @current-change="handleCurrentChange"
              :currentPage="currentPage3"
              :page-size="10"
              layout="prev, pager, next, jumper"
              :total="total"
            >
            </el-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { reactive, toRefs } from "vue";
import { useRouter } from "vue-router";
import apis from "@/api";
import Table from "@/components/Table";

export default {
  components: {
    Table,
  },
  setup() {
    // 定义数据
    const state = reactive({
      input: "",
      currentPage3: 1,
      total: 0,
      list: {},
      topActiveIndex: 0,
      tableData: [],
      column: [
        {
          label: "班级/计划",
          slot: {
            body: "classoption",
          },
        },
        {
          label: "时间",
          slot: {
            body: "timeoption",
          },
        },
        {
          label: "进度",
          slot: {
            body: "jinoption",
          },
        },
        {
          label: "操作",
          slot: {
            body: "zuooption",
          },
        },
      ],
      bomTopArr: [
        {
          type: 0,
          title: "未开始",
        },
        {
          type: 1,
          title: "进行中",
        },
        {
          type: 2,
          title: "已结束",
        },
      ],
      clasid: "",
      bomTopActive: 1,
      pro: {
        classId: "",
        searchName: "",
        ifFinished: "2",
        pageNum: "1",
        pageSize: "10",
      },
    });
    // 获取上半部分数据的接口
    const getData = async () => {
      state.list = await apis.plan.getClassInfo();
      state.list?.data?.data.unshift({ classname: "全部", id: " " });
    };
    let { pro } = state;
    let router = useRouter();
    const method = {
      // 搜索功能
      async enter() {
        // cnsole.log(item.id);
        let res = await apis.plan.getPlanListAll({
          ...pro,
          classId: state.id,
          ifFinished: state.bomTopActive,
          searchName: state.input,
        });
        state.total = res.data.total;
        state.tableData = res.data.rows;
      },
      // 分页的页码改变数据
      async handleCurrentChange(val) {
        let res = await apis.plan.getPlanListAll({
          ...pro,
          classId: state.classId,
          ifFinished: state.bomTopActive,
          pageNum: val,
        });
        state.total = res.data.total;
        state.tableData = res.data.rows;
      },
      // 切换高亮的函数,上面的班级
      changeTopIndex: async (index, item) => {
        state.topActiveIndex = index;
        state.clasid = item.id;
        // cnsole.log(item.id);
        let res = await apis.plan.getPlanListAll({
          ...pro,
          classId: item.id,
          ifFinished: state.bomTopActive,
        });
        state.total = res.data.total;
        state.tableData = res.data.rows;
      },
      // 进行中进行的切换
      changPending: async (index) => {
        state.bomTopActive = index;
        let res = await apis.plan.getPlanListAll({
          ...pro,
          classId: state.clasid,
          ifFinished: index,
        });
        state.total = res.data.total;
        state.tableData = res.data.rows;
      },
      // 点击眼睛查看
      toDetail(data) {
        router.push({
          path: "/index/training/schedule",
          query: data,
        });
      },
    };

    // 定义一个初始化的方法
    const init = () => {
      getData();
    };
    // 先执行一遍
    init();
    //  返回值
    return {
      ...toRefs(state),
      ...method,
    };
  },
};
</script>

<style lang="scss" scoped>
.planOutr {
  .el-icon-view {
    color: #679cf6;
    cursor: pointer;
  }
  .el-dropdown-link {
    cursor: pointer;
    color: #409eff;
  }
  .el-icon-arrow-down {
    font-size: 12px;
  }
  .el-dropdown-menu {
    width: 30px;
    height: 30px;
  }
  width: 100%;
  #endtime {
    font-size: 18px;
  }
  .planTop {
    width: 100%;
    height: 74px;
    background-color: #e6ebf7;
    box-sizing: border-box;
    .plantopCon {
      width: 100%;
      height: 100%;
      .cur {
        width: 100%;
        height: 74px;
        line-height: 74px;
        position: relative;
        left: 50px;
      }
    }
  }
  .planContent {
    width: 100%;
    background-color: #f4f4f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    .contentTop {
      width: 1180px;
      background-color: #fff;
      .classes {
        box-sizing: border-box;
        width: 100%;
        padding: 30px 30px;
        b {
          font-weight: 100;
        }
        span {
          display: inline-block;
          margin-left: 15px;
          cursor: pointer;
        }
        .spanActive {
          padding: 5px 8px;
          border-radius: 20px;
          color: #fff;
          background-color: #608fe0;
        }
      }
    }
    .contentBom {
      width: 1180px;
      background-color: #fff;
      margin-top: 30px;
      margin: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      justify-items: center;
      .bomTop {
        width: 95%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .bomTopLeft {
          span {
            padding: 10px 15px;
            border: 1px #ccc solid;
            cursor: pointer;
          }
          & span:nth-child(1) {
            border-radius: 20px 0 0 20px;
          }
          & span:nth-child(3) {
            border-radius: 0 20px 20px 0;
          }
          .bomSpanActive {
            background-color: #608fe0;
            color: #fff;
          }
        }
        .bomTopRight {
          display: flex;
          button {
            background-color: $backgroundColor;
            color: #fff;
            margin-right: 20px;
          }
        }
      }
      .bomTable {
        width: 95%;
      }
      .block {
        float: right;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }
}
</style>
