<template>
  <div class="detail">
    <div class="top">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>面试</el-breadcrumb-item>
        <el-breadcrumb-item>面试记录详情</el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <div class="box">
      <div class="center">
        <div class="addProject_title">
          <div class="left">
            <span>查看面试记录</span>
          </div>
          <div class="right">
            <el-button @click="$router.go(-1)">返回</el-button>
            <el-button type="primary">屏蔽</el-button>
          </div>
        </div>
        <div class="addtask_detail">
          <ul>
            <li>
              <p><b>岗位名称：</b> {{ detailist.stationName }}</p>
              <p><b>公司名称：</b> {{ detailist.companyName }}</p>
            </li>
            <li>
              <p><b>面试时间：</b> {{ detailist.interviewTime }}</p>
              <p><b>时长：</b> {{ detailist.duration }}</p>
            </li>
            <li>
              <p><b>地点：</b> {{ detailist.site }}</p>
              <p><b>面试官：</b> {{ detailist.intervierManagement }}</p>
            </li>
            <li>
              <p><b>专业：</b> {{ detailist.majorName }}</p>
              <p><b>提交人：</b> {{ detailist.commitName }}</p>
            </li>
            <li>
              <p><b>记录-吐槽：</b> {{ detailist.record }}</p>
            </li>
            <li>
              <p>
                <b>面试结果：</b>
                <span v-if="detailist.status === 0">不确定</span>
                <span v-if="detailist.status === 1">通过</span>
                <span v-if="detailist.status === 2">未通过</span>
              </p>
            </li>
            <li>
              <p>
                <b>录音文件：</b>
                <span v-if="detailist.soundrecordList === null">无</span>
                <span v-else-if="detailist.soundrecordList">有</span>
              </p>
            </li>
            <div>
              <p>
                <b
                  >面试问题：
                  <span class="questions"
                    >请如实填写面试问题和答案，面试中没有作答的题目可略过答案填写，直接输入问题即可。</span
                  ></b
                >
              </p>
              <div
                v-for="(item, index) in askAndanswerList"
                :key="index"
                class="list_title"
              >
                <p>
                  <span class="ask_title">问</span>
                  <span>{{ item.question }}</span>
                </p>
                <p v-if="item.meeting === 1" class="noanswer">该问题没有作答</p>
                <p v-if="item.meeting === 0">
                  <span class="akt_detail">答</span>
                  <span>{{ item.answer }}</span>
                </p>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { reactive, toRefs, onMounted } from "vue";
import { useRoute } from "vue-router";
import { getdetail } from "../../../api/config/interview";
export default {
  setup() {
    const route = useRoute();
    const state = reactive({
      detailist: {},
      askAndanswerList: [],
    });

    onMounted(() => {
      init();
    });
    const init = async () => {
      const { interviewId } = route.params;
      const res = await getdetail(interviewId);
      console.log(res);
      if (res.data.code === 200) {
        state.detailist = res.data.data;
        state.askAndanswerList = state.detailist.askAndanswerList;
        console.log(state.askAndanswerList);
      }
    };
    return {
      ...toRefs(state),
    };
  },
};
</script>

<style lang="scss" scoped>
.detail {
  width: 100%;
  height: auto;
  background: rgba(178, 183, 198, 0.15);
  .top {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: rgba(103, 156, 246, 0.1);
    div {
      padding: 30px;
      width: 1200px;
      margin: 0 auto;
    }
  }
  .box {
    width: 1200px;
    margin: 0 auto 20px;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    .center {
      width: 100%;
      background: #fff;
      border-radius: 2px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      .addProject_title {
        display: flex;
        padding-left: 20px;
        padding-right: 20px;
        height: 70px;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: center;
        border-bottom: 3px solid #ccc;
      }
      .addtask_detail {
        padding: 10px 112px 40px;
        ul {
          li {
            display: flex;
            margin-bottom: 30px;
            justify-content: space-between;
          }
        }
      }
    }
  }
}
.noanswer {
  margin-left: 60px;
  line-height: 40px;
}
.ask_title,
.akt_detail {
  padding: 10px;
  line-height: 50px;
  color: #fff;
}
.ask_title {
  background: #ff8d41;
}
.akt_detail {
  background: #3bc9a9;
}
.list_title {
  margin-left: 30px;
  margin-top: 20px;
}
.questions {
  color: #80879b;
  font-size: 14px;
}
</style>
