<template>
  <div class="interview">
    <div class="top">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>面试</el-breadcrumb-item>
        <el-breadcrumb-item>面试记录</el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <div class="conter">
      <!-- 专业 -->
      <div class="tags">
        <div class="search">
          <div class="tags_title">
            <span>专业: </span>
          </div>
          <div class="tags_count">
            <p
              @click="activeClick(), activeClick1()"
              :class="corrent === -1 ? 'active' : ''"
            >
              全部
            </p>
            <p
              v-for="(item, ind) in tagslist"
              :key="item.id"
              @click="activeClick(item.id, ind)"
              :class="{ active: corrent === ind ? true : false }"
            >
              <span> {{ item.name }} </span>
            </p>
          </div>
        </div>
        <div class="search">
          <div class="tags_title">
            <span>面试结果: </span>
          </div>
          <div class="tags_count">
            <p
              @click="main(), main1()"
              :class="mianindex === -1 ? 'active' : ''"
            >
              全部
            </p>
            <p
              v-for="(item, index) in statusList"
              :key="index"
              @click="main(item.val, index)"
              :class="{ active: mianindex === index ? true : false }"
            >
              <span> {{ item.name }} </span>
            </p>
          </div>
        </div>
      </div>
      <!-- 空盒子 -->
      <div class="box"></div>
      <div class="list">
        <!-- 搜索 -->
        <div class="list_input">
          <el-input
            prefix-icon="el-icon-search"
            placeholder="搜索岗位/公司名称"
            v-model="input2"
            @change="search"
          >
          </el-input>
          <div class="add" v-if="radio == '1'">
            <el-button type="primary" @click="addinter"
              >+添加面试记录</el-button
            >
          </div>
        </div>
        <!-- 表格 -->
        <div class="table">
          <el-table
            :data="list"
            stripe
            style="width: 100%"
            border
            :header-cell-style="headClass"
          >
            <el-table-column label="岗位名称" width="140">
              <template #default="scope">
                <el-button
                  @click="handleClick(scope.row)"
                  type="text"
                  size="small"
                >
                  {{ scope.row.stationName }}
                </el-button>
              </template>
            </el-table-column>
            <el-table-column
              prop="companyName"
              label="公司名称"
              width="180"
            ></el-table-column>
            <el-table-column prop="interviewTime" label="面试时间" width="200">
            </el-table-column>
            <el-table-column
              prop="intervierManagement"
              label="面试官"
              width="150"
            ></el-table-column>
            <el-table-column prop="majorName" label="专业"></el-table-column>
            <el-table-column
              prop="commitName"
              label="提交人"
              width="180"
            ></el-table-column>
            <el-table-column label="面试结果" :formatter="stateFormat">
            </el-table-column>
            <el-table-column
              label="录音文件"
              :formatter="stateFormat1"
            ></el-table-column>
          </el-table>
          <!-- 分页 -->
          <div class="pagination">
            <el-pagination
              @size-change="handleSizeChange"
              @current-change="handleCurrentChange"
              :page-size="pageSize"
              layout="total, prev, pager, next, jumper"
              :total="total"
            >
            </el-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import begs from "@/api/index";
import router from "@/router";
import { reactive, toRefs, onMounted } from "vue";
export default {
  setup() {
    let state = reactive({
      radio: null, // 老师还是学生
      corrent: -1, // 主页下标
      mianindex: -1, // 面试结果下标
      tagslist: [], // 专业数据
      list: [], // 表格数据
      pageNum: 1, // 当前页
      pageSize: 10, // 一页多少条
      total: null, // 表格数据总数
      input2: "", // 输入值
      searchTitle: null, // 搜索
      majorId: null, // 主页数据每一项Id
      status: null, // 面试结果
      statusList: [
        { name: "通过", val: "1" },
        { name: "未通过", val: "2" },
        { name: "不确定", val: "0" },
      ],
    });
    let radio1 = localStorage.Authorization
      ? JSON.parse(localStorage.Authorization).radio
      : "";
    state.radio = radio1;
    // 专业
    const getDate = async () => {
      let { name, majorId } = state;
      let res = await begs.interview.getStationLabel({
        name,
        majorId,
      });
      if (res.data.code == 200) {
        state.tagslist = res.data.data;
      }
    };
    // 表格
    const pagelist = async () => {
      let { pageNum, pageSize, searchTitle, majorId, status } = state;
      let res = await begs.interview.getinterviewList({
        searchTitle,
        pageNum,
        pageSize,
        majorId,
        status,
      });
      if (res.data.code == 200) {
        state.list = res.data.rows;
        state.total = res.data.total;
      }
    };

    onMounted(() => {
      getDate();
      pagelist();
    });

    const methods = {
      addinter() {
        router.push("/index/interview/addinter");
      },
      handleClick(row) {
        // 眺详情
        router.push(`/index/interview/${row.interviewId}`);
      },
      stateFormat(row) {
        // 面试结果
        if (row.status == 0) {
          return "不确定";
        } else if (row.status == 1) {
          return "通过";
        } else if (row.status == 2) {
          return "未通过";
        }
      },
      stateFormat1(row) {
        // 录音文件
        if (row.status == 0) {
          return "无";
        } else if (row.status == 1) {
          return "有";
        }
      },
      headClass() {
        // 标题背景色
        return "background:#E8E9EE;text-align: center;";
      },
      activeClick(id, ind) {
        // tab切换
        // 点击tagsitem
        state.majorId = id;
        state.corrent = ind;
        pagelist();
      },
      main(val, index) {
        // tab切换
        // 点击 通过
        state.status = val;
        state.mianindex = index;
        pagelist();
      },
      activeClick1() {
        state.corrent = -1;
      },
      main1() {
        state.mianindex = -1;
      },
      search(val) {
        // 搜索
        // console.log(state.input2);
        state.searchTitle = val;
        pagelist();
      },
      handleSizeChange(val) {
        // console.log(`每页 ${val} 条`);
        state.pageSize = val;
        pagelist();
      },
      handleCurrentChange(val) {
        // console.log(`当前页: ${val}`);
        state.pageNum = val;
        pagelist();
      },
    };
    return {
      ...toRefs(state),
      ...methods,
      ...onMounted,
    };
  },
};
</script>

<style lang="scss" scoped>
a {
  justify-content: space-around;
}
.table {
  /deep/.el-table th > .cell {
    text-align: center;
  }

  /deep/.el-table .cell {
    text-align: center;
  }
}
.interview {
  width: 100%;
  height: auto;
  background: rgba(178, 183, 198, 0.15);
  .pagination {
    float: right;
  }
  .top {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: rgba(103, 156, 246, 0.1);
    div {
      padding: 30px;
      width: 1200px;
      margin: 0 auto;
    }
  }
  .conter {
    width: 1200px;
    margin: 0 auto 20px;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    .tags {
      width: 100%;
      background: #fff;
      .search {
        // width: 1200px;
        margin: 0 auto;
        background: white;
        border-radius: 2px;
        padding: 20px 30px 20px;
        display: flex;
        align-items: center;
        .tags_title {
          width: 70px;
          height: 50px;
          line-height: 50px;
          text-align: center;
        }
        .tags_count {
          flex: 1;
          display: flex;
          flex-wrap: wrap;
          p {
            padding: 6px 20px;
            user-select: none;
            cursor: pointer;
          }
          p:hover {
            background: #679cf6;
            color: #fff;
            border-radius: 20px;
          }
          .active {
            background: #679cf6;
            color: #fff;
            border-radius: 20px;
          }
        }
      }
    }
  }
  .box {
    height: 20px;
  }
  .list {
    width: 1200px;
    overflow-y: scroll;
    margin: 0 auto 20px;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    .table {
      width: 100%;
      background: #fff;
    }
    .list_input {
      display: flex;
      float: right;
    }
  }
}
</style>
