<template>
  <div class="addinter">
    <div class="top">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>面试</el-breadcrumb-item>
        <el-breadcrumb-item>面试记录</el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <div class="box">
      <div class="center">
        <div class="addProject_title">
          <div class="left">
            <span>添加面试记录</span>
          </div>
        </div>
        <div class="addtask_detail">
          <el-form ref="form" :model="sizeForm" label-width="80px" size="mini">
            <ul>
              <li>
                <el-form-item label="岗位名称">
                  <el-input
                    v-model="sizeForm.stationName"
                    style="width: 235px"
                    placeholder="请输入内容"
                  ></el-input>
                </el-form-item>
                <el-form-item label="公司名称">
                  <el-input
                    v-model="sizeForm.companyName"
                    style="width: 235px"
                    placeholder="请输入公司名称"
                  ></el-input>
                </el-form-item>
              </li>
              <li>
                <el-form-item label="面试时间">
                  <el-date-picker
                    v-model="sizeForm.interviewTime"
                    type="datetime"
                    placeholder="选择日期时间"
                    align="right"
                    :picker-options="pickerOptions"
                  >
                  </el-date-picker>
                </el-form-item>
                <el-form-item label="时长">
                  <el-select v-model="sizeForm.duration" placeholder="请选择">
                    <el-option
                      v-for="item in options"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value"
                    >
                    </el-option>
                  </el-select>
                </el-form-item>
              </li>
              <li>
                <el-form-item label="地点">
                  <el-input
                    v-model="sizeForm.site"
                    style="width: 235px"
                    placeholder="请输入面试地点"
                  ></el-input>
                </el-form-item>
                <el-form-item label="面试官">
                  <el-input
                    v-model="sizeForm.intervierManagement"
                    style="width: 235px"
                    placeholder="例如:HR,技术组长"
                  ></el-input>
                </el-form-item>
              </li>
              <li>
                <el-form-item
                  label="专业"
                  v-model="sizeForm.intervierManagement"
                >
                  网站工程
                </el-form-item>
                <el-form-item
                  label="提交人"
                  v-model="sizeForm.intervierManagement"
                >
                  黄辉
                </el-form-item>
              </li>
              <el-form-item label="记录.吐槽">
                <v-md-editor
                  v-model="sizeForm.record"
                  height="400px"
                ></v-md-editor>
              </el-form-item>
              <li>
                <el-form-item label="面试结果">
                  <el-radio-group v-model="sizeForm.status" size="medium">
                    <el-radio label="0">不确定</el-radio>
                    <el-radio label="1">通过</el-radio>
                    <el-radio label="2">未通过</el-radio>
                  </el-radio-group>
                </el-form-item>
              </li>
              <li>
                <el-form-item label="录音文件">
                  <el-radio-group
                    v-model="sizeForm.issoundrecord"
                    size="medium"
                  >
                    <el-radio label="0">无</el-radio>
                    <el-radio label="1">有</el-radio>
                  </el-radio-group>
                </el-form-item>
              </li>

              <div class="question_detail">
                <el-form-item
                  v-for="(item, index) in sizeForm.askAndanswerList"
                  :key="index"
                >
                  <li>
                    <div class="ask_title">问</div>
                    <el-input
                      class="ipts"
                      type="text"
                      placeholder="请输入标题"
                      v-model="item.question"
                      show-word-limit
                    ></el-input>

                    <i class="el-icon-plus" @click="addItem"></i>
                    <i class="el-icon-minus" @click="deleteItem"></i>
                  </li>
                  <li class="judge">
                    <el-radio-group v-model="item.meeting">
                      <el-radio label="0">我的回答</el-radio>
                      <el-radio label="1">没有作答/不知道答案</el-radio>
                    </el-radio-group>
                  </li>
                  <li style="margin-top: 20px" v-if="item.meeting === '0'">
                    <div class="questions">答</div>
                    <el-input
                      class="ipts"
                      type="textarea"
                      placeholder="请输入答案内容"
                      v-model="item.answer"
                      show-word-limit
                    ></el-input>
                  </li>
                </el-form-item>
              </div>
              <el-form-item size="large">
                <el-button @click="$router.go(-1)">返回</el-button>
                <el-button type="primary" @click="submit">提交</el-button>
              </el-form-item>
            </ul>
          </el-form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { reactive, toRefs, onMounted } from "vue";
import moment from "moment";
import begs from "@/api/index";
export default {
  setup() {
    let state = reactive({
      sizeForm: {
        askAndanswerList: [
          {
            answer: "",
            answerList: null,
            defenceHistoryId: null,
            interviewId: "",
            meeting: "0",
            question: "",
            taskProgressId: null,
          },
        ],
        commitName: "黄辉", // 提交人
        companyName: "", // 公司名称
        duration: "", // 面试时长
        intervierManagement: "", // 面试官
        interviewId: "",
        interviewTime: "", //  面试时间
        issoundrecord: "", //有无录音
        majorName: "网站工程", // 专业
        record: "", // 记录.吐槽
        site: "", // 地点
        soundrecordList: [],
        stationName: "", // 岗位名称
        status: "", // 面试结果
      },
      options: [
        {
          value: "半个小时",
        },
        {
          value: "半个小时到一个小时",
        },
        {
          value: "一个小时",
        },
      ],
      pickerOptions: {
        shortcuts: [
          {
            text: "今天",
            onClick(picker) {
              picker.$emit("pick", new Date());
            },
          },
          {
            text: "昨天",
            onClick(picker) {
              const date = new Date();
              date.setTime(date.getTime() - 3600 * 1000 * 24);
              picker.$emit("pick", date);
            },
          },
          {
            text: "一周前",
            onClick(picker) {
              const date = new Date();
              date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit("pick", date);
            },
          },
        ],
      },
    });

    const getlist = async () => {
      let { sizeForm } = state;
      // 时间格式转换
      let interviewTime = moment(sizeForm.interviewTime).format(
        "YYYY-MM-DD hh:mm:ss"
      );
      await begs.interview.getinterview({
        ...sizeForm,
        interviewTime,
      });
    };

    onMounted(() => {
      getlist();
    });

    const methods = {
      // 点击提交
      submit() {
        getlist();
      },
      // 添加问答框
      addItem() {
        const {
          sizeForm: { askAndanswerList },
        } = state;
        askAndanswerList.push({
          meeting: "0",
          answer: "",
          question: "",
        });
      },
      // 删除
      deleteItem() {
        const {
          sizeForm: { askAndanswerList },
        } = state;
        if (askAndanswerList.length > 1) {
          askAndanswerList.pop();
        }
      },
    };
    return {
      ...toRefs(state),
      ...methods,
      ...onMounted,
    };
  },
};
</script>

<style lang="scss" scoped>
.judge {
  margin-top: 20px;
  padding-left: 35px;
}
.mian {
  div {
    display: flex;
    margin-bottom: 10px;
  }
}
.ask_title,
.questions {
  padding: 10px;
  line-height: 20px;
  color: #fff;
}
.ask_title {
  background: #ff8d41;
}
.questions {
  background: #3bc9a9;
}
ul {
  li {
    display: flex;
  }
}
.addinter {
  width: 100%;
  height: auto;
  background: rgba(178, 183, 198, 0.15);
  .top {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: rgba(103, 156, 246, 0.1);
    div {
      padding: 30px;
      width: 1200px;
      margin: 0 auto;
    }
  }
  .box {
    width: 1200px;
    margin: 0 auto 20px;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    .center {
      width: 100%;
      background: #fff;
      border-radius: 2px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      .addProject_title {
        display: flex;
        padding-left: 20px;
        padding-right: 20px;
        height: 70px;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: center;
        border-bottom: 3px solid #ccc;
      }
      .addtask_detail {
        padding: 10px 112px 40px;
      }
    }
  }
}
</style>
