<template>
  <div class="bigOutr">
    <!-- 内容部分 -->
    <div class="defence" v-if="!isLoading">
      <!-- 最上面部分 -->
      <div class="defenceTop">
        <!-- 面包屑部分 -->
        <div class="replytopCon">
          <el-breadcrumb separator="/" class="cur">
            <el-breadcrumb-item>答辩</el-breadcrumb-item>
            <el-breadcrumb-item :to="{ path: '/' }"
              >发起答辩</el-breadcrumb-item
            >
          </el-breadcrumb>
        </div>
      </div>
      <!-- 表单内容部分 -->
      <div class="box-content">
        <div class="boxContentTop">
          <div class="left">
            <div class="color"></div>
            <h3>发起答辩</h3>
          </div>
          <div class="right">
            <el-button>返回</el-button>
            <el-button>提交</el-button>
          </div>
        </div>
        <!-- 表单部分 -->
        <div class="form">
          <el-form v-model="form" :model="form" label-width="80px">
            <el-row>
              <el-col :span="10">
                <div width="100px">
                  <el-form-item label="答辩名称" id="kuan">
                    <el-input
                      v-model="form.name"
                      placeholder="请输入答辩名称"
                    ></el-input>
                  </el-form-item>
                </div>
              </el-col>
              <el-col :span="12">
                <el-form-item label="专业">
                  <el-select v-model="form.major" placeholder="请选择专业">
                    <el-option
                      v-for="(item, index) in selectArr"
                      :key="index"
                      :label="item.name"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
              </el-col>
            </el-row>

            <el-form-item label="答辩时间">
              <div class="block">
                <el-date-picker
                  v-model="form.date1"
                  type="daterange"
                  range-separator="至"
                  start-placeholder="开始日期"
                  end-placeholder="结束日期"
                >
                </el-date-picker>
              </div>
            </el-form-item>

            <el-row>
              <el-col :span="10">
                <el-form-item label="班级/计划">
                  <el-select v-model="form.classes" placeholder="请选择">
                    <el-option label="网站2021班" value="shanghai"></el-option>
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item label="答辩地址" id="kuan">
                  <el-input
                    v-model="form.where"
                    placeholder="请输入地址"
                  ></el-input>
                </el-form-item>
              </el-col>
            </el-row>

            <el-form-item label="发起人">
              <span>郭老师</span>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="onSubmit">立即创建</el-button>
              <el-button>取消</el-button>
            </el-form-item>
          </el-form>
        </div>
      </div>
      <div class="box-bom"></div>
    </div>
    <!-- loading动画 -->
    <Loading v-else></Loading>
  </div>
</template>
<script>
import { reactive, toRefs } from "vue";
import apis from "@/api";
import { useRoute } from "vue-router";

export default {
  setup() {
    const route = useRoute();
    const state = reactive({
      form: {
        name: "",
        major: "",
        date1: "",
        classes: "",
        where: "",
      },
      obj: {},
      selectArr: [],
      isLoading: true,
    });
    const getSelectArr = async () => {
      let {
        data: { data },
      } = await apis.defence.selectStationLabel();
      state.isLoading = false;
      state.selectArr = data;
      const obj = route.query;
      state.form.name = obj.degenceName;
      state.form.major = obj.majorName;
      state.form.date1 = [obj.defenceCreateTime, obj.defenceEndTime];
      state.form.classes = obj.className;
    };
    getSelectArr();
    const method = {
      onSubmit() {
        console.log(console.log(state.form.date1));
      },
    };
    return {
      ...toRefs(state),
      ...toRefs(method),
    };
  },
};
</script>
<style lang="scss">
.defence {
  width: 100%;
  background-color: rgb(244, 244, 247);
  .defenceTop {
    width: 100%;
    height: 74px;
    background-color: #e6ebf7;
    box-sizing: border-box;
  }
  .replytopCon {
    width: 100%;
    height: 100%;
    .cur {
      width: 100%;
      height: 74px;
      line-height: 74px;
      position: relative;
      left: 50px;
    }
  }
  .form {
    width: 1000px;
    height: 500px;
    padding: 30px;
    box-sizing: border-box;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    #kuan {
      width: 260px;
    }
  }
  .box-content {
    width: 1200px;
    background-color: #fff;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 30px;
    .left {
      display: flex;
      height: 70px;
      align-items: center;
      margin-left: 30px;
    }
    .color {
      width: 5px;
      height: 25px;
      background-color: #679cf6;
      margin-right: 10px;
    }
    .right {
      & > button:nth-child(2) {
        background-color: #679cf6;
        color: #fff;
        margin-right: 30px;
      }
    }
    .boxContentTop {
      width: 100%;
      line-height: 70px;
      border-bottom: 1px solid #ccc;
      display: flex;
      justify-content: space-between;
    }
  }
  .box-bom {
    width: 100%;
    height: 30px;
    background-color: rgb(244, 244, 247);
  }
}
</style>
