.header {
    height: 60px;
    line-height: 60px;
    background-color: rgb(84, 92, 100);
}

.userImg {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-right: 10px;
}

.right {
    margin-left: 10px;
    margin-right: 10px;
}

.footer {
    line-height: 60px;
    background-color: rgb(84, 92, 100);
}

.Footer-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 14px;
}

.Footer-box-one {
    display: flex;
    position: relative;
}

.Footer-box-one2>div {
    width: 100px;
    height: 180px;
}

.Footer-box-one2>div>h2 {
    font-size: 16px;
    font-family: SourceHanSansCN-Regular, SourceHanSansCN;
    font-weight: 400;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -15px;
}

.Footer-box-one2>div>p>a {
    width: 100%;
    height: 25px;
    color: #ffffff99;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.Footer-box-one3 {
    width: 106px;
    height: 180px;
    position: absolute;
    right: 20px;
    display: flex;
    flex-direction: column;
}

.Footer-box-one3>img {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
}

.Footer-box-one3>p {
    font-size: 14px;
    font-family: SourceHanSansCN-Regular, SourceHanSansCN;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
}

.Footer-box-children {
    width: 79%;
    height: 100%;
    margin-left: 120px;
}

.Footer-box-one1 {
    width: 200px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Footer-box-one2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 600px;
    height: 180px;
}

.Footer-box {
    width: 100%;
    height: 180px;
    background-color: #353d53;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    background-color: #fff;
    /* height: 500px; */
}

#menu {
    height: 57px;
    line-height: 57px;
    background-color: rgb(84, 92, 100);
    border: none;
    color: #fff;
}

#menu li a {
    color: #fff;
}