.bw_bottom {
  width: 100%;
  height: 230px;
  background-color: #353d53;
  color: #fff;
}
.bw_bottom a {
  text-decoration: none;
  color: #aeb1ba;
  margin-top: 3px;
}
.bw_bottom .b_b_detail .b_b_right[data-v-01b3f466] {
  width: 15%;
  height: 100%;
  margin-left: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.bw_bottom .b_b_sign[data-v-01b3f466] {
  width: 100%;
  text-align: center;
  line-height: 47px;
  height: 47px;
  background: #252b3a;
  font-size: 12px;
  font-family: SourceHanSansCN-Regular, SourceHanSansCN;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.65);
}

.bw_bottom .b_b_detail[data-v-01b3f466] {
  width: 100%;
  margin: 0 auto;
  height: 180px;
  background: #353d53;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.bw_bottom .b_b_detail .b_b_middle[data-v-01b3f466] {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: 97px;
}
.bw_bottom .b_b_detail .b_b_left[data-v-01b3f466] {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
