/*
 * @Author: YangZe 
 * @Date: 2021-07-22 10:15:43 
 * @Last Modified by:   YangZe 
 * @Last Modified time: 2021-07-22 10:15:43 
 */

body {
  font-family: "Microsoft Yahei", Helvetica, Arial, sans-serif;
  color: #3b3d3e;
}

a {
  color: #666;
}

a:hover,
a:focus {
  color: #666;
  text-decoration: none;
}

.block {
  display: block;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.float-none {
  float: none;
}

.margin-center {
  margin-left: auto;
  margin-right: auto;
  display: table;
  width: auto;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-underline {
  text-decoration: underline;
}

.text-top {
  vertical-align: top;
}

.text-middle {
  vertical-align: middle;
}

.text-bottom {
  vertical-align: bottom;
}

.text-nobr {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-nowrap {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.hand {
  cursor: pointer;
}

.hide {
  display: none !important;
}

.show {
  display: block;
}

.f0 {
  font-size: 0;
}

.f9 {
  font-size: 9px;
}

.f10 {
  font-size: 10px;
}

.m15 {
  margin: 15px;
}

.f12 {
  font-size: 12px;
}

.f14 {
  font-size: 14px;
}

.f16 {
  font-size: 16px;
}

.f18 {
  font-size: 18px;
}

.f20 {
  font-size: 20px;
}

.f24 {
  font-size: 24px;
}

.f26 {
  font-size: 25px;
}

.f32 {
  font-size: 32px;
}

.f36 {
  font-size: 36px;
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.pos-static {
  position: static;
}

.pos-fixed {
  position: fixed;
}

.text-dark {
  color: #000;
}

.text-light-dark {
  color: #666;
}

.text-jet-dark {
  color: #333;
}

.text-white,
a.text-white {
  color: #fff;
}

.text-red,
a.text-red {
  color: #ff4136;
}

.text-light-red,
a.text-light-red {
  color: #f74d4d;
}

.text-blue,
a.text-blue {
  color: #006666;
}

.text-highlight-blue,
a.text-highlight-blue {
  color: #5badab;
}

.text-high-blue,
a.text-high-blue {
  color: #4c6aae;
}

a.text-light-blue,
.text-light-blue {
  color: #89afc3;
}

.text-orange,
a.text-orange {
  color: #fa8100;
}

.text-dark-orange {
  color: #ff7200;
}

.text-gray,
a.text-gray {
  color: #454545;
}

.text-light-gray {
  color: #a3a3a3;
}

.txt-idt1 {
  text-indent: 1rem;
}

.txt-idt2 {
  text-indent: 2rem;
}

.n {
  font-weight: normal;
  font-style: normal;
}

.b {
  font-weight: bold;
}

.i {
  font-style: italic;
}

.wf {
  width: 100%;
}

.hf {
  height: 100%;
}

.nowrap {
  white-space: nowrap;
}

.bk {
  word-wrap: break-word;
}

.rel {
  position: relative;
}

.abs {
  position: absolute;
}

.bg-navy {
  background-color: #001f3f;
}

.bg-blue {
  background-color: #0074d9;
}

.bg-aqua {
  background-color: #7fdbff;
}

.bg-teal {
  background-color: #39cccc;
}

.bg-olive {
  background-color: #3d9970;
}

.bg-green {
  background-color: #2ecc40;
}

.bg-lime {
  background-color: #01ff70;
}

.bg-yellow {
  background-color: #ffdc00;
}

.bg-orange {
  background-color: #ff851b;
}

.bg-danger {
  background-color: #ff4136;
}

.bg-fuchsia {
  background-color: #f012be;
}

.bg-purple {
  background-color: #b10dc9;
}

.bg-maroon {
  background-color: #85144b;
}

.bg-white {
  background-color: #ffffff;
}

.bg-gray {
  background-color: #aaaaaa;
}

.bg-light-gray {
  background-color: #f0efed;
}

.bg-silver {
  background-color: #dddddd;
}

.bg-black {
  background-color: #111111;
}

.bg-white {
  background-color: #fff;
}

.bg-none {
  background-image: none !important;
}

.bgfb {
  background-color: #fbfbfb;
}

.bgf5 {
  background-color: #f5f5f5;
}

.bgf0 {
  background-color: #f0f0f0;
}

.bgeb {
  background-color: #ebebeb;
}

.bge0 {
  background-color: #e0e0e0;
}

.bd1 {
  border: 1px solid #ddd;
}

.bd2 {
  border: 2px solid #ddd;
}

.bd3 {
  border: 3px solid #ddd;
}

.bd0 {
  border-width: 0;
}

.bdl0 {
  border-left: 0 !important;
}

.bdt1 {
  border-top: 1px solid #ccc;
}

.bdr1 {
  border-right: 1px solid #ccc;
}

.bdl1 {
  border-left: 1px solid #ccc;
}

.bdb1 {
  border-bottom: 1px solid #eee;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.ml0 {
  margin-left: 0;
}

.mr0 {
  margin-right: 0;
}

.mt0 {
  margin-top: 0;
}

.mb0 {
  margin-bottom: 0;
}

.pl0 {
  padding-left: 0;
}

.pr0 {
  padding-right: 0;
}

.pt0 {
  padding-top: 0;
}

.pb0 {
  padding-bottom: 0;
}

.mlf3 {
  margin-left: -3px;
}

.mlf5 {
  margin-left: -5px;
}

.mlf10 {
  margin-left: -10px;
}

.mrf15 {
  margin-right: -15px;
}

.mlrf15 {
  margin-left: -15px !important;
  margin-right: -15px !important;
}

.mtf3 {
  margin-top: -3px;
}

.mtf5 {
  margin-top: -5px;
}

.mtf10 {
  margin-top: -10px;
}

.mtf15 {
  margin-top: -15px;
}

.mt3 {
  margin-top: 3px;
}

.mt5 {
  margin-top: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mt15 {
  margin-top: 15px;
}

.mt20 {
  margin-top: 20px;
}

.mt25 {
  margin-top: 25px;
}

.mt30 {
  margin-top: 30px;
}

.mt35 {
  margin-top: 35px;
}

.mt50 {
  margin-top: 50px;
}

.mb3 {
  margin-bottom: 3px;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.ml3 {
  margin-left: 3px;
}

.ml5 {
  margin-left: 5px;
}

.ml10 {
  margin-left: 10px;
}

.ml15 {
  margin-left: 15px;
}

.ml20 {
  margin-left: 20px;
}

.mr3 {
  margin-right: 3px;
}

.mr5 {
  margin-right: 5px;
}

.mr10 {
  margin-right: 10px;
}

.mr15 {
  margin-right: 15px;
}

.mr20 {
  margin-right: 20px;
}

.mr30 {
  margin-right: 30px;
}

.mr50 {
  margin-right: 50px;
}

.mlr1 {
  margin-left: 1px;
  margin-right: 1px;
}

.mlr3 {
  margin-left: 3px;
  margin-right: 3px;
}

.mlr5 {
  margin-left: 5px;
  margin-right: 5px;
}

.mlr10 {
  margin-left: 10px;
  margin-right: 10px;
}

.p15 {
  padding: 15px;
}

.p1 {
  padding: 1px;
}

.p3 {
  padding: 3px;
}

.p5 {
  padding: 5px;
}

.p10 {
  padding: 10px;
}

.pt3 {
  padding-top: 3px;
}

.pt5 {
  padding-top: 5px;
}

.pt10 {
  padding-top: 10px;
}

.pt15 {
  padding-top: 15px;
}

.pt20 {
  padding-top: 20px;
}

.pt30 {
  padding-top: 30px;
}

.pt50 {
  padding-top: 50px;
}

.pb3 {
  padding-bottom: 3px;
}

.pb5 {
  padding-bottom: 5px;
}

.pb10 {
  padding-bottom: 10px;
}

.pb15 {
  padding-bottom: 15px;
}

.pb20 {
  padding-bottom: 20px;
}

.pb30 {
  padding-bottom: 30px;
}

.pb50 {
  padding-bottom: 50px;
}

.pl3 {
  padding-left: 3px;
}

.pl5 {
  padding-left: 5px;
}

.pl10 {
  padding-left: 10px !important;
}

.pl15 {
  padding-left: 15px;
}

.pl20 {
  padding-left: 20px;
}

.pl25 {
  padding-left: 25px;
}

.pl30 {
  padding-left: 30px;
}

.pr3 {
  padding-right: 3px;
}

.pr5 {
  padding-right: 5px;
}

.pr10 {
  padding-right: 10px !important;
}

.pr15 {
  padding-right: 15px;
}

.pr20 {
  padding-right: 20px;
}

.pr30 {
  padding-right: 30px;
}

.pr50 {
  padding-right: 50px;
}

.swiper-pagination-bullet-active {
  background-color: #666;
}
