div,
p,
ul,
ol,
li,
dl,
dt,
dd,
form,
table,
h1,
h2,
h3,
h4,
h5,
h6,
input,
select,
textarea,
span,
strong,
em,
b,
i,
u,
a,
img,
* {
  padding: 0;
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

body {
  font-family: "宋体";
  font-size: 12px;
  color: #000;
  background-color: #fff;
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 14px;
}

img {
  border: none;
}

img,
input,
textarea,
select,
option,
output,
span,
a,
b,
em,
i,
strong,
u,
s,
button,
label {
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

a {
  background: transparent;
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #f90;
}

.lgd {
  background: linear-gradient(90deg, #f00, #ff0);
}

.clear {
  clear: both;
  height: 0;
  width: 0;
  overflow: hidden;
}

body,
html,
#app {
    height: 100%;
    width: 100%;
    background-color: #f4f4f7;
    font-family: '微软雅黑';
}

.wrap {
  width: 1190px;
  margin: 0 auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}