.bigoutr {
  width: 100%;
  label {
    font-weight: 800;
  }
  .button {
    margin-left: 35px;
  }
  .button1 {
    color: #fff;
    background-color: #1890ff;
  }
  .conoutr {
    width: 100%;
    background-color: #f4f4f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    .form {
      width: 85%;
      background-color: #fff;
      .formCon {
        width: 70%;
        height: 240px;
        position: relative;
        left: 100px;
        margin-top: 50px;
        margin-bottom: 50px;
      }
      .formTop {
        width: 100%;
        line-height: 60px;
        border-bottom: 1px solid #ccc;
        display: flex;
        align-items: center;
        .colorK {
          width: 3px;
          height: 20px;
          background-color: #679cf6;
          margin-left: 20px;
          margin-right: 10px;
        }
      }
    }
  }
  .planTop {
    width: 100%;
    height: 74px;
    background-color: #e6ebf7;
    box-sizing: border-box;
    .plantopCon {
      width: 100%;
      height: 100%;
      .cur {
        width: 100%;
        height: 74px;
        line-height: 74px;
        position: relative;
        left: 50px;
      }
    }
  }
  .zuCon {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    .left {
      width: 25%;
      height: 400px;
      overflow-y: hidden;
      box-sizing: border-box;
      background-color: #f7f8f9;
      padding: 5px;
      .leftTop {
        display: flex;
        justify-content: space-around;
      }
      .leftB {
        width: 100%;
        overflow-y: auto;
        height: 350px;
        overflow-x: hidden;
        span {
          display: inline-block;
          width: 40px;
          height: 40px;
          background-color: pink;
          border-radius: 50%;
          position: relative;
          top: 16px;
          margin-left: 10px;
          margin-right: 10px;
        }
        p {
          width: 100%;
          height: 40px;
          margin: 10px;
          line-height: 40px;
        }
      }
    }
    .right {
      width: 65%;
      height: 400px;
      overflow-y: auto;
      overflow-x: hidden;
      .rightTop {
        width: 100%;
        height: 40px;
        line-height: 40px;
        text-align: center;
        cursor: pointer;
        border: 1px #ccc solid;
      }
      .everyGroup {
        width: 100%;
        background-color: #fff;
        min-height: 40px;
        margin-top: 15px;
        margin-bottom: 15px;
        border: 1px #ccc solid;
        .everyTop {
          width: 100%;
          height: 30px;
          background-color: #f7f8f9;
          position: relative;
          text-align: center;
          line-height: 30px;
          .del {
            position: absolute;
            right: 10px;
          }
        }
      }
    }
  }
}
