.scheduleOutr {
  width: 100%;
  background-color: #f4f4f7;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  position: relative;
  .select {
    position: absolute;
    top: 30px;
    right: 30px;
  }
  .teacher_plan_view[data-v-32380e42] {
    width: 1173px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 10px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    #t1 {
      font-size: 28px;
      color: #679cf6;
    }
    #t2 {
      font-size: 28px;
      color: #ff8d41;
    }
    #t3 {
      font-size: 28px;

      color: #3bc9a9;
    }
    #t4 {
      font-size: 28px;

      color: #fc3535;
    }
    #ccc {
      color: #9fccff;
      margin-top: 10px;
    }
    .plan_view_header_t1[data-v-32380e42] {
      height: 18px;
      font-size: 18px;
      font-weight: 500;
      line-height: 18px;
    }
    .plan_view_header_t2[data-v-32380e42] {
      height: 22px;
      font-size: 22px;
      font-weight: 400;
      color: #303849;
      line-height: 22px;
      margin-top: 18px;
    }
    .plan_view_class_item[data-v-32380e42] {
      width: 25%;
      height: 110px;
      background: rgba(103, 156, 246, 0.05);
      border-radius: 4px;
      margin-right: 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
    .plan_view_class_item[data-v-32380e42] {
      width: 25%;
      height: 110px;
      background: rgba(103, 156, 246, 0.05);
      border-radius: 4px;
      margin-right: 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
    .plan_view_class_item[data-v-32380e42] {
      width: 25%;
      height: 110px;
      background: rgba(103, 156, 246, 0.05);
      border-radius: 4px;
      margin-right: 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
    .plan_view_class_item[data-v-32380e42] {
      width: 25%;
      height: 110px;
      background: rgba(103, 156, 246, 0.05);
      border-radius: 4px;
      margin-right: 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
    .el-input__suffix {
      position: absolute;
      height: 100%;
      right: 5px;
      top: 0;
      text-align: center;
      color: #c0c4cc;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      pointer-events: none;
    }
    .plan_view_header_t3[data-v-32380e42] {
      height: 12px;
      font-size: 12px;
      font-weight: 400;
      color: #80879b;
      line-height: 12px;
      margin-top: 14px;
    }
    .el-select {
      display: inline-block;
      position: relative;
    }
    .plan_view_header[data-v-32380e42] {
      width: 100%;
      padding: 35px 20px 20px;
      background: #fff;
      position: relative;
      z-index: 10;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-box-shadow: 0px 0px 10px 0px rgba(51, 51, 51, 0.1);
      box-shadow: 0px 0px 10px 0px rgba(51, 51, 51, 0.1);
      border-radius: 2px;
    }
    .plan_view_class[data-v-32380e42] {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-top: 22px;
    }
  }
}
