html,
body,
.wraper {
  width: 100%;
  height: 100%;
  
}

.header {
  width: 100%;
  height: 60px;
}

.content {
  min-height: 650px;
  height: auto;
  background-color: #eee;
}

.content-wraper {
  height: 100%;
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.footer {
  height: 60px;
}

.child-wraper {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  z-index: 999;
  overflow-x: hidden;

}