<template>
  <div class="index_outr">
    <div class="index_top">
      <div class="index_top_left">
        <img
          src="http://111.203.59.61:8060/static/img/w_bw.172a76e5.png"
          alt=""
        />
        <div class="line"></div>
        <HomeRouter></HomeRouter>
      </div>
      <div class="index_top_right">
        <el-dropdown>
          <span class="el-dropdown-link">
            <img
              alt=""
              :src="
                type.radio === '2'
                  ? 'http://111.203.59.61:8060/file_service/group1/M00/00/1D/rBsCHGDAW9-AUyU0AAUHAjgw_WY032.gif'
                  : 'http://111.203.59.61:8060/file_service/group1/M00/00/1B/rBsCHGC8sMqAB2cDAAC8MQ3506s51.jpeg'
              "
            />
          </span>
          <template #dropdown>
            <el-dropdown-menu>
              <el-dropdown-item>
                <i class="el-icon-user"></i>个人中心</el-dropdown-item
              >
              <el-dropdown-item>
                <i class="el-icon-s-order"></i>我的待办</el-dropdown-item
              >
              <el-dropdown-item @click="quit">
                <i class="el-icon-switch-button"></i>退出</el-dropdown-item
              >
            </el-dropdown-menu>
          </template>
        </el-dropdown>

        <span>{{ type.username }}</span>
      </div>
    </div>
    <router-view></router-view>
    <Bottom></Bottom>
  </div>
</template>

<script>
import "@/assets/css/bottom.css";
import Bottom from "@/components/Bottom";
import { defineComponent, ref } from "vue";
import router from "@/router/index";
import HomeRouter from "@/components/Home/HomeRouter.vue";

export default defineComponent({
  components: {
    Bottom,
    HomeRouter,
  },
  setup() {
    return {
      type: ref(JSON.parse(localStorage.getItem("Authorization"))),
      quit() {
        // 点击退出的时候清空本地存储，然后返回到登录页面
        localStorage.clear();
        router.push("/login");
      },
    };
  },
});
</script>

<style scoped lang="scss">
a {
  color: #fff;
  text-decoration: none;
}

.index_outr {
  width: 100%;
  height: 100%;
  .index_top {
    width: 100%;
    height: 60px;
    background-color: #545c64;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .index_top_left {
      display: flex;
      align-items: center;
      a {
        color: #fff;
        text-decoration: none;
        display: inline-block;
        width: 68px;
        box-sizing: border-box;
        height: 60px;
        text-align: center;
        line-height: 60px;
      }
      #topTab {
        margin-left: 50px;
      }
      img {
        margin-right: 68px;
        margin-left: 26px;
        width: 110px;
        height: 30px;
      }
    }
    .index_top_right {
      width: 10%;
      height: 100%;
      margin-right: 100px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        cursor: pointer;
      }
      span {
        color: #fff;
      }
    }
    .spans {
      width: 50px;
    }
    #topTab {
      width: 400px;
      height: 60px;
      line-height: 60px;
      color: #fff;
    }
  }
  a {
    color: #fff;
    text-decoration: none;
  }
  el-menu-item {
    a {
      color: #fff;
      text-decoration: none;
    }
  }
}
</style>
