<template>
  <div class="bigoutr">
    <!-- 内容页面 -->
    <div class="conoutr" v-if="isShow">
      <!-- 面包屑 -->
      <div class="planTop">
        <div class="plantopCon">
          <el-breadcrumb separator="/" class="cur">
            <el-breadcrumb-item>计划</el-breadcrumb-item>
            <el-breadcrumb-item :to="{ path: '/' }"
              >计划管理</el-breadcrumb-item
            >
          </el-breadcrumb>
        </div>
      </div>
      <!-- 表单部分  -->
      <div class="form">
        <!-- 上半部分 -->
        <div class="formTop">
          <div class="colorK"></div>
          <p>添加计划</p>
        </div>
        <!-- 表单部分 -->
        <div class="formCon">
          <!-- 第一行 -->
          <el-form :inline="true" class="demo-form-inline">
            <el-form-item label="班级">
              <el-select
                v-model="formInline.region"
                placeholder="选择班级"
                style="margin-right: 30px"
                @change="changeClass"
              >
                <el-option
                  v-for="(item, index) in formInline.classArr"
                  :key="index"
                  :label="item.classname"
                  :value="item.id"
                ></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="成员">
              <el-input
                disabled
                v-model="formInline.number"
                style="width: 90px; margin-right: 30px"
              ></el-input>
            </el-form-item>
            <el-form-item label="分组">
              <el-input-number
                v-model="formInline.num"
                controls-position="right"
                @change="handleChange"
                :min="1"
                :max="10"
                style="width: 100px"
              ></el-input-number>
            </el-form-item>
          </el-form>
          <!-- 第二行 -->
          <el-form>
            <el-form-item label="计划">
              <el-input
                v-model="formInline.inp"
                style="width: 300px"
                placeholder="请输入计划"
              ></el-input>
            </el-form-item>
          </el-form>
          <!-- 时间行 -->
          <el-form>
            <el-form-item label="时间">
              <el-col :span="11">
                <el-date-picker
                  type="date"
                  placeholder="选择日期"
                  v-model="formInline.date1"
                  style="width: 100%"
                ></el-date-picker>
              </el-col>
              <el-col class="line" :span="2">-</el-col>
              <el-col :span="11">
                <el-time-picker
                  placeholder="选择时间"
                  v-model="formInline.date2"
                  style="width: 100%"
                ></el-time-picker>
              </el-col>
            </el-form-item>
          </el-form>
          <!-- 按钮 -->
          <el-form>
            <el-button class="button" @click="handelClick('auto')"
              >自动分组</el-button
            >
            <el-button class="button1" @click="handelClick()"
              >手动分组</el-button
            >
          </el-form>
        </div>
      </div>
      <!-- 点击确认之后的信息 -->
      <div v-show="isShowBom">
        <div v-for="(item, index) in groupArr" :key="index">
          <h3 class="">{{ item.name }}</h3>
          <p v-for="(ite, ind) in item.students" :key="ind">
            {{ ite.username }}
          </p>
        </div>
        <!-- 按钮 -->
        <el-button @click="rest">重置</el-button>
      </div>
    </div>
    <!-- loading -->
    <Loading v-else></Loading>
    <!--  弹框 -->
    <el-dialog title="添加分组" v-model="dialogVisible" width="50%">
      <div class="zuCon">
        <div class="left">
          <div class="leftTop">
            <el-checkbox
              :indeterminate="isIndeterminate"
              v-model="checkAll"
              @change="handleCheckAllChange"
              >全选</el-checkbox
            >
            <span
              >{{ studentArr.filter((item) => item.isCheckout).length }}/{{
                studentArr.length
              }}</span
            >
          </div>
          <div class="leftB">
            <el-checkbox-group
              v-model="checkedCities"
              @change="handleCheckedCitiesChange"
            >
              <p v-for="(item, index) in studentArr" :key="index">
                <el-checkbox
                  :label="item.username"
                  @change="changeCheck(item, index)"
                >
                </el-checkbox>
              </p>
            </el-checkbox-group>
          </div>
        </div>
        <div class="right">
          <div class="topp">当前已分{{ groupArr.length }}个小组</div>
          <div class="rightTop" @click="addGroup">+创建小组</div>
          <!-- 每个小组 -->
          <div
            class="everyGroup"
            v-for="(item, index) in groupArr"
            :key="index"
          >
            <div class="everyTop">
              <i
                class="el-icon-circle-plus-outline add"
                @click="addStudent(index)"
              ></i>
              <span>{{ item.name }}</span
              ><span class="del" @click="delAll(item, index)"
                ><i class="el-icon-delete-solid"></i
              ></span>
            </div>
            <div class="everyB">
              <span v-for="(ite, ind) in item.students" :key="ind">
                <img :src="'http://111.203.59.61:8060' + ite.avatar" alt="" />
                <span>{{ ite.username }}</span>
                <b @click="delOne(ite, ind, item, index)">X</b>
              </span>
            </div>
          </div>
        </div>
      </div>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="dialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="sure">确 定</el-button>
        </span>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import { reactive, toRefs, defineComponent } from "vue";
import apis from "@/api";
import { ElMessage } from "element-plus";
export default defineComponent({
  setup() {
    const state = reactive({
      isShow: true,
      dialogVisible: false,
      formInline: {
        region: "", // 选择的哪个班级的id
        number: 0, // 选择好班级后返回的学生数量
        num: 1, // 分几个组
        date1: "", // 时间
        date2: "", // 时间
        inp: "", // 计划的内容
      },
      classArr: [], // 下拉框数组
      studentArr: [], // 请求回来的学生总数据
      groupArr: [], // 分几个组的数组
      checkedNum: 0, // 选中状态的数量
      checkAll: false,
      checkedCities: [],
      isIndeterminate: true,
      isShowBom: false,
    });
    const method = {
      // 点击分组的时候
      handelClick: (type) => {
        let { region, date1, date2, inp } = state.formInline;
        if (region === "" || date1 === "" || date2 === "" || inp === "") {
          ElMessage.error("请正确填写信息!");
          return;
        }
        state.dialogVisible = true;
        // 自动分组的时候
        if (type === "auto") {
          // 首先获取到需要分几个组
          let {
            formInline: { num, number },
            groupArr,
            studentArr,
          } = state;
          // 学生总数知道，分几个组也知道，可以算出来每个组能放几个学生，
          let type = Math.floor(number / num);
          // 如果整除不了的话还得算出来剩余的学生数
          let residue = number % num;
          // 定义一个新数组
          let newArr = JSON.parse(JSON.stringify(studentArr));
          // 通过循环创建小组
          for (let i = 0; i < num; i++) {
            groupArr[i] = {
              name: `第${i + 1}组`,
              students: newArr.splice(0, i === 0 ? type + residue : type),
            };
          }
          // 左边的数组需要清空
          state.studentArr = [];
        }
      },
      // 组数量改变时
      handleChange: (num) => {
        state.formInline.num = num;
      },
      // 下拉框发生变化的时候
      changeClass: async (id) => {
        let {
          data: { data },
        } = await apis.reply.getClassStudent({ id });
        state.studentArr = data.map((item) => {
          return {
            ...item,
            isCheckout: false,
          };
        });
        state.formInline.number = data.length;
      },
      // 点击全选
      handleCheckAllChange: (val) => {
        state.studentArr.map((item) => (item.isCheckout = val));
        state.checkedCities = val
          ? state.studentArr.map((item) => item.username)
          : [];
        state.isIndeterminate = false;
      },
      // 反选
      handleCheckedCitiesChange: (value) => {
        const checkedCount = value.length;
        state.checkAll = checkedCount === state.studentArr.length;
        state.isIndeterminate =
          checkedCount > 0 && checkedCount < state.studentArr.length;
      },
      // 单选发生变化的话改变数组里面的状态
      changeCheck(item) {
        item.isCheckout = !item.isCheckout;
      },
      // 点击创建小组的时候
      addGroup() {
        state.groupArr.push({
          name: `第${state.groupArr.length + 1}组`,
          students: [],
        });
      },
      // 点击加入小组的时候
      addStudent(index) {
        let { groupArr, studentArr } = state;
        if (studentArr.length < 0) {
          ElMessage.warning("暂无学生可分配");
          return;
        }
        let addArr = state.studentArr.filter((item) => item.isCheckout);
        groupArr[index].students.push(...addArr);
        // 添加的同时还需要删除左边的数据
        addArr.map((item) => {
          studentArr.map((ite, ind) => {
            if (item.isCheckout === ite.isCheckout) {
              studentArr.splice(ind, 1);
            }
          });
        });
      },
      // 点击删除个人的时候
      delOne(ite, ind, item) {
        let { studentArr } = state;
        // 左边的数据添加
        studentArr.unshift(ite);
        // 右边的数据需要删除掉这条数据
        item.students.splice(ind, 1);
      },
      // 点击删除整个小组的时候
      delAll(item, index) {
        // 左边数据的添加
        let { studentArr, groupArr } = state;
        studentArr.unshift(...item.students);
        // 右边删除小组
        groupArr.splice(index, 1);
      },
      // 点击重置
      rest() {
        state.groupArr = [];
        state.formInline = {
          region: "",
          number: 0,
          num: 1,
          date1: "",
          date2: "",
          inp: "",
        };
        state.isShowBom = false;
      },
      // 点击确定的时候
      sure() {
        state.dialogVisible = false;
        state.isShowBom = true;
      },
    };
    // 初始化方法
    const init = async () => {
      let {
        data: { data },
      } = await apis.reply.getClassInfo();
      state.formInline.classArr = data;
    };
    init();
    // 返回
    return {
      ...toRefs(state),
      ...toRefs(method),
    };
  },
});
</script>
<style lang="scss" scoped>
.bigoutr {
  width: 100%;
  label {
    font-weight: 800;
  }
  .button {
    margin-left: 35px;
  }
  .button1 {
    color: #fff;
    background-color: #1890ff;
  }
  .conoutr {
    width: 100%;
    background-color: #f4f4f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    .form {
      width: 85%;
      background-color: #fff;
      .formCon {
        width: 70%;
        height: 240px;
        position: relative;
        left: 100px;
        margin-top: 50px;
        margin-bottom: 50px;
      }
      .formTop {
        width: 100%;
        line-height: 60px;
        border-bottom: 1px solid #ccc;
        display: flex;
        align-items: center;
        .colorK {
          width: 3px;
          height: 20px;
          background-color: #679cf6;
          margin-left: 20px;
          margin-right: 10px;
        }
      }
    }
  }
  .planTop {
    width: 100%;
    height: 74px;
    background-color: #e6ebf7;
    box-sizing: border-box;
    .plantopCon {
      width: 100%;
      height: 100%;
      .cur {
        width: 100%;
        height: 74px;
        line-height: 74px;
        position: relative;
        left: 50px;
      }
    }
  }
  .zuCon {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    .left {
      width: 25%;
      height: 400px;
      overflow-y: hidden;
      box-sizing: border-box;
      background-color: #f7f8f9;
      padding: 5px;
      .leftTop {
        display: flex;
        justify-content: space-around;
      }
      .leftB {
        width: 100%;
        overflow-y: auto;
        height: 350px;
        overflow-x: hidden;
        span {
          display: inline-block;
          width: 40px;
          height: 40px;
          background-color: pink;
          border-radius: 50%;
          position: relative;
          top: 16px;
          margin-left: 10px;
          margin-right: 10px;
        }
        p {
          width: 100%;
          height: 40px;
          margin: 10px;
          line-height: 40px;
        }
      }
    }
    .right {
      width: 65%;
      height: 400px;
      overflow-y: auto;
      overflow-x: hidden;
      .rightTop {
        width: 100%;
        height: 40px;
        line-height: 40px;
        text-align: center;
        cursor: pointer;
        border: 1px #ccc solid;
      }
      .everyGroup {
        width: 100%;
        background-color: #fff;
        min-height: 40px;
        margin-top: 15px;
        margin-bottom: 15px;
        border: 1px #ccc solid;
        .add {
          position: absolute;
          left: 10px;
          cursor: pointer;
          top: 50%;
          transform: translateY(-50%);
        }
        .everyTop {
          width: 100%;
          height: 30px;
          background-color: #f7f8f9;
          position: relative;
          text-align: center;
          line-height: 30px;
          .del {
            position: absolute;
            right: 10px;
          }
          i {
            cursor: pointer;
          }
        }
        .everyB {
          display: flex;
          flex-wrap: wrap;
          span {
            display: inline-block;
            position: relative;
            width: 70px;
            display: flex;
            height: 70px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 5px;
            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
            }
            b {
              position: absolute;
              top: -5px;
              right: -5px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
</style>
