<template>
  <div class="detail">
    <div class="crumbs">
      <el-breadcrumb separator="/" class="crumbs_top">
        <el-breadcrumb-item>问答</el-breadcrumb-item>
        <el-breadcrumb-item>问答详情</el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <div class="p_detail">
      <div class="p_left">
        <div class="p_question">
          <div class="p_user_ask">
            <div class="question_title_top">
              <div class="ask_title">{{ detailList.questionTitle }}</div>
            </div>
            <div class="user_info_">
              <div class="u_i_left">
                <img
                  src="http://111.203.59.61:8060/file_service/group1/M00/00/1B/rBsCHGC8sMqAB2cDAAC8MQ3506s51.jpeg"
                  alt=""
                  class="data-v-1b0cb3fa"
                />
                <span class="user_name">{{ detailList.userName }}</span>
                <span class="user_pushtime"
                  >发布于{{ detailList.pushTime }}</span
                >
              </div>
              <div class="u_i_right">
                <i class="el-icon-s-comment"></i>
                {{ detailList.answerCount }}
              </div>
            </div>
            <div class="content_text">
              <div class="v-md-editor v-md-editor--preview">
                {{ detailList.questionContent }}
              </div>
            </div>
            <div class="operation_btn">
              <el-button type="primary">回答</el-button>
              <el-button type="primary">收藏</el-button>
            </div>
          </div>
        </div>
        <div class="all_answer_list">
          <div class="all_ask">全部回答</div>
          <div class="p_answer">
            <div
              class="p_answer_list"
              v-for="(item, index) in allList"
              :key="index"
            >
              <div class="user_info_">
                <div class="u_i_left">
                  <div class="avator_name">
                    <img
                      :src="'http://111.203.59.61:8060' + item.userPictureUrl"
                      class="data-v-1b0cb3fa"
                      alt=""
                    />
                    <span>{{ item.userName }}</span>
                    <span>发布于{{ item.replyTime }}</span>
                  </div>
                </div>
              </div>
              <div class="content_text">{{ item.replyContext }}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="p_right">
        <div class="notice">
          <div class="n_d_title">
            <b>我的问答</b>
          </div>
          <div class="s_info">
            <div class="s_avatar">
              <img
                src="http://111.203.59.61:8060/file_service/group1/M00/00/1B/rBsCHGC8sMqAB2cDAAC8MQ3506s51.jpeg"
                alt=""
              />
            </div>
            <div class="s_name">黄辉</div>
          </div>
          <div class="n_d_detail">
            <div class="n_d_ask">问</div>
            <div class="n_d_direction">
              提了<span class="data-v">{{
                getAnswerReplyList.numberQuestions
              }}</span>
              个问题，
              <span class="data-v">{{ getAnswerReplyList.numberReplies }}</span>
              人进行了回答
            </div>
          </div>
          <div class="el-row--flex">
            <div class="n_d_answer">答</div>
            <div class="n_d_direction">
              回答了
              <span class="data-v" style="color: #e02020">{{
                getAnswerReplyList.replyCount
              }}</span>
              个问题
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import apis from "@/api/index";
// import route from "@/router";
import { useRoute } from "vue-router";
import { reactive, toRefs, onMounted } from "vue";
import { answerDetail } from "@/api/config/answerlist";
export default {
  setup() {
    const route = useRoute();
    const state = reactive({
      detailList: [],
      allList: [],
      getAnswerReplyList: [],
    });

    const getDetail = async () => {
      const { answerId } = route.params;
      const res = await answerDetail(answerId);
      if (res.data.code == 200) {
        state.detailList = res.data.data;
      }
    };
    const getinit = async () => {
      const { answerId } = route.params;
      const res = await apis.answerlist.AllQuestions({
        answerId,
      });
      state.allList = res.data.rows;
      console.log(state.allList);
    };

    const getAnswerReply = async () => {
      let res = await apis.answerlist.AnswerReply();
      if (res.data.code == 200) {
        state.getAnswerReplyList = res.data.data;
      }
      console.log(state.getAnswerReplyList);
    };
    onMounted(() => {
      getDetail();
      getinit();
      getAnswerReply();
    });
    const methods = {};
    return {
      ...toRefs(state),
      ...onMounted,
      ...methods,
    };
  },
};
</script>

<style lang="scss">
.detail {
  width: 100%;
  height: auto;
  background: #f4f4f7;
  position: relative;
}
.crumbs {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: rgba(103, 156, 246, 0.1);
  .crumbs_top {
    padding: 30px;
    width: 1200px;
    margin: 0 auto;
  }
}
.p_detail {
  width: 1200px;
  height: auto;
  margin-left: 170px;
  .p_left {
    .p_question {
      width: 880px;
      height: auto;
      .p_user_ask {
        width: 880px;
        height: 212.2px;
        background: #fff;
        .question_title_top {
          width: 840px;
          height: 17.6px;
          line-height: 17.6px;
          padding-left: 15px;
          padding-top: 15px;
        }
        .user_info_ {
          padding-left: 15px;
          padding-top: 15px;
          width: 840px;
          .u_i_left {
            float: left;
            span {
              padding: 0 5px;
              color: #80879b;
            }
            .data-v-1b0cb3fa {
              width: 35px;
              height: 35px;
              margin-right: 10px;
              border-radius: 50%;
            }
          }
          .u_i_right {
            float: right;
          }
        }
        .content_text {
          padding-left: 15px;
          padding-top: 15px;
        }
        .operation_btn {
          padding-left: 15px;
          padding-top: 15px;
        }
      }
    }
    .all_answer_list {
      width: 880px;
      background: #fff;
      margin-top: 30px;
      margin-bottom: 20px;
      height: auto;
      .all_ask {
        width: 880px;
        height: 59px;
        border-bottom: 1px solid #b2b7c6;
        padding-top: 25px;
        padding-left: 15px;
      }
      .p_answer {
        width: 880px;
        height: auto;
        .p_answer_list {
          width: 840px;
          height: 91px;
          margin-left: 20px;
          margin-top: 5px;
        }
        .data-v-1b0cb3fa {
          width: 35px;
          height: 35px;
          margin-right: 10px;
          border-radius: 50%;
        }
        .avator_name {
          span {
            padding: 0 10px;
            font-size: 12px;
            font-weight: 400;
            color: #80879b;
          }
        }
      }
    }
  }
  .p_right {
    width: 280px;
    height: 195px;
    background: #fff;
    position: absolute;
    top: 75px;
    right: 150px;
    .notice {
      width: 250px;
      height: 140px;
      margin-left: 15px;
      margin-top: 20px;
      .n_d_title {
        width: 250px;
        height: 20px;
        border-left: 10px solid #679cf6;
        b {
          margin-left: 5px;
        }
      }
      .s_info {
        margin-top: 5px;
        display: flex;
        line-height: 40px;
        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
        .s_name {
          line-height: 40px;
          margin-left: 5px;
          color: #80879b;
        }
      }
      .n_d_detail {
        display: flex;
        padding-left: 5px;
        .n_d_ask {
          width: 24px;
          height: 24px;
          background: #ff8d41;
          border-radius: 2px;
          text-align: center;
          font-size: 16px;
          font-family: SourceHanSansCN-Regular, SourceHanSansCN;
          font-weight: 400;
          color: #ffffff;
          line-height: 24px;
        }
        .data-v {
          color: #e02020;
        }
      }
    }
  }
}
</style>
