<template>
  <div class="map">
    地图页面
    <ul>
      <li
        v-for="(item, index) in addressList"
        :key="index"
        @click="changePos(item)"
      >
        {{ item.name }}
      </li>
    </ul>
    {{ obj }}
    <BMap :position="obj"></BMap>
  </div>
</template>
<script>
import BMap from "@/components/bmap";
import { reactive, toRefs } from "vue";
export default {
  components: {
    BMap,
  },
  setup() {
    const state = reactive({
      addressList: [
        {
          name: "太原",
          lat: 112.593191,
          lon: 37.869014,
        },
        {
          name: "北京",
          lat: 116.614033,
          lon: 40.088015,
        },
      ],
      obj: {
        lat: 116.303084,
        lon: 39.992147,
      },
    });

    const method = {
      changePos({ lat, lon }) {
        state.obj = {
          lat,
          lon,
        };
      },
    };
    return {
      ...toRefs(state),
      ...toRefs(method),
    };
  },
};
</script>
<style lang="scss">
.map {
  width: 100%;
  position: relative;
  height: 100%;
}
</style>
