<template>
  <div class="replyoutr">
    <div class="show" v-if="isShow">
      <div class="replyTop">
        <!-- 面包屑部分 -->
        <div class="replytopCon">
          <el-breadcrumb separator="/" class="cur">
            <el-breadcrumb-item>答辩</el-breadcrumb-item>
            <el-breadcrumb-item :to="{ path: '/' }"
              >答辩管理</el-breadcrumb-item
            >
          </el-breadcrumb>
        </div>
      </div>
      <!-- 专业和分类部分 -->
      <div class="typeContent">
        <div class="typeTop">
          <b>专业</b>:
          <span
            v-for="(item, index) in topList"
            :key="index"
            :class="typeIndex === index ? 'typeActive' : ''"
            @click="changeBgc(index, item)"
          >
            {{ item.name }}
          </span>
        </div>
        <div class="typeBom">
          <b>状态</b>:
          <span
            v-for="(item, index) in statusArr"
            :key="index"
            @click="changeBom(index, item)"
            :class="bomActive === index ? 'bomActive' : ''"
          >
            {{ item.msg }}
          </span>
        </div>
      </div>
      <!-- 表格部分 -->
      <div class="tableCon">
        <div class="tableTop">
          <div class="right">
            <el-input
              placeholder="搜索名称/班级/计划"
              suffix-icon="el-input__icon el-icon-search"
              v-model="input"
              @change="enter"
              class="input"
            ></el-input>
            <el-button class="button" @click="toDefence"> + 发起答辩</el-button>
          </div>
        </div>
        <Table :data="bomList" :column="column" class="table">
          <!-- 名称部分 -->
          <template #nameoption="{ data }"> {{ data.degenceName }} </template>
          <!-- 专业部分 -->
          <template #majoroption="{ data }"> {{ data.majorName }} </template>
          <!-- 班级计划 -->
          <template #classoption="{ data }">
            {{ data.className }}<br />
            <span>{{ data.planName }}</span>
          </template>
          <!-- 发起人 -->
          <template #peooption="{ data }">
            {{ data.defenceAuthorName }}
          </template>
          <!-- 时间 -->
          <template #timeoption="{ data }">
            <div>{{ data.defenceCreateTime }}</div>
            <div>{{ data.defenceEndTime }}</div>
          </template>
          <!-- 状态 -->
          <template #zhuangoption="{ data }">
            {{
              statusArr.find((item) => item.status == data.defenceStatus).msg
            }}
          </template>
          <!-- 操作 -->
          <template #zuooption="{ data }">
            <el-dropdown>
              <span class="el-dropdown-link">
                <i class="el-icon-view" @click="toAddDefence(data)"></i>
              </span>
              <template #dropdown>
                <el-dropdown-menu>
                  <el-dropdown-item>查看</el-dropdown-item>
                </el-dropdown-menu>
              </template> </el-dropdown
            >&emsp;
            <i class="el-icon-share"></i>
          </template>
        </Table>
        <!-- 分页部分 -->
        <div class="block" v-if="bomList?.length > 0">
          <el-pagination
            @current-change="handleCurrentChange"
            :page-size="10"
            layout="prev, pager, next, jumper"
            :total="total"
          >
          </el-pagination>
        </div>
      </div>
    </div>
    <Loading v-else></Loading>
  </div>
</template>

<script>
import apis from "@/api";
import { reactive, toRefs, onMounted } from "vue";
import { column, statusArr } from "./reply.js";
import { useRouter } from "vue-router";
export default {
  setup() {
    let router = useRouter();
    // 组件内部自己的状态
    const state = reactive({
      topList: [],
      bomList: [],
      typeIndex: 0,
      bomActive: 0,
      column,
      topId: "",
      bomId: "",
      total: "",
      input: "",
      bomData: {
        pageNum: 1,
        pageSize: 10,
        searchTitle: "",
        defenceMjorId: "",
        defenceStatus: "",
      },
      statusArr,
      isShow: false,
    });
    // 定义的一些方法
    const method = {
      // 点击事件
      async changeBgc(index, item) {
        // 改变高亮
        state.typeIndex = index;
        // 改变id值
        state.bomData.defenceMjorId = item.id;
        // 发送请求
        let res = await apis.reply.getDefenceList({
          ...state.bomData,
          defenceMjorId: item.id,
        });
        state.bomList = res.data.rows;
        state.total = res.data.total;
      },
      // 点击状态变化的时候
      async changeBom(index, item) {
        state.bomData.defenceStatus = item.status === "0" ? "" : item.status;
        state.bomActive = index;
        // 发送请求
        let res = await apis.reply.getDefenceList({
          ...state.bomData,
          defenceStatus: item.status === "0" ? "" : item.status,
        });
        state.bomList = res.data.rows;
        state.total = res.data.total;
      },
      // 分页的页码改变数据
      async handleCurrentChange(val) {
        let res = await apis.reply.getDefenceList({
          ...state.bomData,
          pageNum: val,
        });
        state.bomList = res.data.rows;
      },
      // 点击跳转页面
      toAddDefence(data) {
        router.push({
          path: "/index/training/defence",
          query: data,
        });
      },
      //
      // 回车事件
      async enter() {
        let res = await apis.reply.getDefenceList({
          ...state.bomData,
          searchTitle: state.input,
        });
        state.bomList = res.data.rows;
        state.total = res.data.total;
      },
    };
    // 初始化方法
    const init = async () => {
      // 专业请求
      let res1 = await apis.reply.selectStationLabel();
      state.topList = res1.data.data;
      state.topList.length > 0
        ? state.topList.unshift({ id: "", name: "全部" })
        : "";
      // 数据请求
      let res = await apis.reply.getDefenceList(state.bomData);
      state.bomList = res.data.rows;
      state.total = res.data.total;
      // 改变内部状态，显示页面，如果请求不成功就一直再loading页面
      state.isShow = true;
    };
    // 生命周期
    onMounted(() => {
      // 执行一遍
      init();
    });

    // 抛出数据
    return {
      ...toRefs(state),
      ...toRefs(method),
      onMounted,
    };
  },
};
</script>

<style lang="scss" scoped>
.replyoutr {
  width: 100%;
  background-color: #f4f4f7;
  .show {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #endtime {
    font-size: 18px;
  }
  .tableCon {
    width: 90%;
    background-color: #fff;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .replyTop {
    width: 100%;
    height: 74px;
    background-color: #e6ebf7;
    box-sizing: border-box;
    .replytopCon {
      width: 100%;
      height: 100%;
      .cur {
        width: 100%;
        height: 74px;
        line-height: 74px;
        position: relative;
        left: 50px;
      }
    }
  }
  .typeContent {
    width: 90%;
    padding: 20px;
    background-color: #fff;
    .typeTop {
      b {
        font-weight: 200;
      }
      span {
        display: inline-block;
        padding: 5px 10px;
        border-radius: 15px;
        margin-left: 30px;
        margin-top: 10px;
        cursor: pointer;
      }

      .typeActive {
        color: #fff;
        background-color: #679cf6;
      }
    }

    .typeBom {
      b {
        font-weight: 200;
      }
      span {
        display: inline-block;
        padding: 5px 10px;
        border-radius: 15px;
        margin-left: 30px;
        margin-top: 10px;
        cursor: pointer;
      }

      .bomActive {
        color: #fff;
        background-color: #679cf6;
      }
    }
  }
}

.tableCon {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  .tableTop {
    width: 95%;
    display: flex;
    height: 60px;
    line-height: 60px;
    position: relative;
    .right {
      position: absolute;
      right: 0px;
      float: right;
      .input {
        width: 200px;
        margin-right: 20px;
      }
      .button {
        color: #fff;
        background-color: #679cf6;
      }
    }
  }
  .table {
    width: 95%;
  }
  .block {
    position: relative;
    margin-left: 700px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  i {
    color: #679cf6;
    cursor: pointer;
  }
}
</style>
