<template>
  <div class="answerlist">
    <div class="crumbs">
      <el-breadcrumb separator="/" class="crumbs_top">
        <el-breadcrumb-item>问答</el-breadcrumb-item>
        <el-breadcrumb-item>问答列表</el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <div class="tab">
      类型：
      <span
        v-for="(item, index) in status"
        :key="index"
        :class="currentIndex == index ? 'active' : ''"
        @click="setType(index)"
        >{{ item.name }}</span
      >
    </div>
    <div class="list_detail">
      <div class="input_tab">
        <div>
          <!-- <el-checkbox label="" ></el-checkbox> -->
          <input type="checkbox" @click="Boutique" v-model="quality" />
          仅看精品
        </div>
        <div>
          <input
            type="checkbox"
            @click="Authentication"
            v-model="authentication"
          />
          <span>仅看教师认证答案</span>
        </div>
        <div class="input_text" style="width: 230px">
          <el-input
            placeholder="请输入内容"
            prefix-icon="el-icon-search"
            @change="changeIPT()"
            v-model="questionTitle"
          >
          </el-input>
        </div>
        <el-button
          type="warning"
          style="height: 35px"
          class="ElButton"
          @click="dialogFormVisible = true"
        >
          <i class="el-icon-plus"></i>
          我要提问</el-button
        >
      </div>
    </div>
    <!-- 对话框 -->
    <el-dialog title="提问" v-model="dialogFormVisible">
      <el-form :model="form">
        <el-form-item label="标题" :label-width="formLabelWidth">
          <el-input
            v-model="questionTitle"
            autocomplete="off"
            placeholder="请输入问题类型"
          ></el-input>
        </el-form-item>
        <el-form-item label="" :label-width="formLabelWidth">
          <el-select v-model="form.region" placeholder="请选择问题类型">
            <el-option label="实训" value="sx"></el-option>
            <el-option label="面试" value="ms"></el-option>
            <el-option label="工作" value="gz"></el-option>
            <el-option label="其他" value="qt"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="标题" :label-width="formLabelWidth">
          <el-input
            v-model="text1"
            autocomplete="off"
            placeholder="请选择公司"
          ></el-input>
          <el-input
            v-model="text2"
            autocomplete="off"
            placeholder="请选择岗位"
          ></el-input>
          <!-- <el-input
            v-model="questionContent"
            autocomplete="off"
            placeholder="请输入问题类型"
          ></el-input> -->
          <v-md-editor v-model="questionContent" height="400px"></v-md-editor>
        </el-form-item>
      </el-form>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="dialogFormVisible = false">取 消</el-button>
          <el-button type="primary" @click="handOk">确 定</el-button>
        </span>
      </template>
    </el-dialog>
    <div class="t_a_list" v-for="(item, index) in answerlist" :key="index">
      <div class="el-row">
        <!-- 左侧 -->
        <div class="main_left">
          <div class="main_left_name">
            <small>{{ item.qUserName }}</small>
            <small>{{ item.replyTime }}发布</small>
            <small>实训类型：面试</small>
            <span>
              <i class="el-icon-s-comment"></i>
              {{ item.answerCount }}
            </span>
          </div>
          <div class="main_left_tag">
            <h3>
              <span v-if="item.quality">
                <img
                  src="http://111.203.59.61:8060/static/img/boutique.fc46be52.svg"
                  alt=""
                />
              </span>
              <span v-else></span>
              <span v-if="item.authentication">
                <img
                  src="http://111.203.59.61:8060/static/img/authentication.c814dd7c.svg"
                  alt=""
                />
              </span>
              <span v-else></span>
              {{ item.questionTitle }}
            </h3>
          </div>
          <div class="main_left_title">
            <div style="width: 791.65px">{{ item.questionTitle }}</div>
            <div class="foot">
              <span @click="changeDownactive"
                >查看全部
                <i
                  :class="{
                    'el-icon-arrow-down': true,
                    downactive: downactive,
                  }"
                ></i>
              </span>
            </div>
          </div>
          <div class="train_btn">
            <span
              class="data-v-735e312b"
              v-for="(item, index) in label"
              :key="index"
              >{{ item }}</span
            >
          </div>
        </div>
        <!-- 右侧回答按钮 -->
        <div class="wrap-main-right">
          <button @click="detail(item.answerId)" style="margin-top: 60px">
            回答
          </button>
        </div>
      </div>
    </div>
    <div class="page">
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :page-size="pageSize"
        layout="prev, pager, next, jumper"
        :total="total"
      >
      </el-pagination>
    </div>
  </div>
</template>

<script>
import apis from "@/api/index";
import router from "@/router";
import { reactive, toRefs, onMounted } from "vue";

export default {
  setup() {
    const state = reactive({
      answerId: null, //跳转详情页ID
      answerlist: [],
      total: 0,
      pageNum: 1,
      pageSize: 10,
      type: "",
      currentIndex: 0,
      label: [], //标签
      quality: "", //精品
      authentication: "", //教师认证
      questionTitle1: "", //搜索问题
      downactive: false, //下拉开关
      questionTitle: "", //input框输入值 标题
      questionContent: "", //添加接口 描述
      type1: "1", //类型
      text1: "", //公司
      text2: "", //岗位
      status: [
        {
          name: "全部",
          type: "",
        },
        {
          name: "实训",
          type: "0",
        },
        {
          name: "答辩",
          type: "4",
        },
        {
          name: "面试",
          type: "1",
        },
        {
          name: "工作",
          type: "2",
        },
        {
          name: "其他",
          type: "3",
        },
        {
          name: "我的问答",
          type: "5",
        },
      ],
      dialogFormVisible: false,
      form: {
        name: "",
        region: "",
        date1: "",
        date2: "",
        delivery: false,
        type: [],
        resource: "",
        desc: "",
      },
      formLabelWidth: "120px",
    });

    const getinit = async () => {
      let { pageNum, pageSize, type, quality, authentication, questionTitle } =
        state;
      let res = await apis.answerlist.answer({
        pageSize,
        pageNum,
        type,
        quality,
        authentication,
        questionTitle,
      });
      // console.log(res);
      if (res.data.code == 200) {
        state.answerlist = res.data.rows;
        state.total = res.data.total;
        state.label = res.data.rows[state.currentIndex].labels;
      }
    };
    const getAnswerList = async () => {
      let { questionContent, questionTitle, text1, text2 } = state;
      let res = await apis.answerlist.Answers({
        questionContent,
        questionTitle,
        text1,
        text2,
        type: state.type1,
      });
      console.log(res);
    };
    onMounted(() => {
      getinit();
      getAnswerList();
    });

    const methods = {
      handleSizeChange(val) {
        // console.log(`每页 ${val} 条`);
        state.pageSize = val;
        getinit();
      },
      handleCurrentChange(val) {
        // console.log(`当前页: ${val}`);
        state.pageNum = val;
        getinit();
      },
      setType(index) {
        (state.currentIndex = index), (state.type = state.status[index].type);
        getinit();
      },
      //精品
      Boutique(e) {
        // const {quality} = state;
        if (e.target.checked) {
          state.quality = 1;
        } else {
          state.quality = 0;
        }
        getinit();
      },
      Authentication(e) {
        // const {authentication} = state;
        // console.log(state.authentication);
        if (e.target.checked) {
          state.authentication = 1;
        } else {
          state.authentication = 0;
        }
        getinit();
      },
      changeIPT() {
        const { questionTitle } = state;
        const val = questionTitle;
        console.log(val);
        getinit({ questionTitle: val });
      },
      changeDownactive(e) {
        e.preventDefault();
        state.downactive = !state.downactive;
      },
      handOk() {
        let { questionContent, questionTitle, text1, text2, type } = state;
        getAnswerList({
          questionContent,
          questionTitle,
          text1,
          text2,
          type,
        });
        state.dialogFormVisible = false;
        getinit();
      },
      detail(answerId) {
        // console.log(answerId);c
        router.push(`/index/session/answerDetail/${answerId}`);
      },
    };
    return {
      ...toRefs(state),
      ...onMounted,
      ...methods,
    };
  },
};
</script>

<style lang="scss">
.answerlist {
  width: 100%;
  height: auto;
  background: #f4f4f7;
}
.crumbs {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: rgba(103, 156, 246, 0.1);
  .crumbs_top {
    padding: 30px;
    width: 1200px;
    margin: 0 auto;
  }
}
.tab {
  width: 1180px;
  height: 84px;
  line-height: 65px;
  box-shadow: 1px #000;
  font-weight: 700;
  background: #fff;
  margin: 0 200px;
  span:hover {
    color: aliceblue;
    background: #679cf6;
    cursor: pointer;
    border-radius: 15px;
  }
  span {
    display: inline-block;
    margin: 0 10px;
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
  }
  .active {
    color: #fff;
    border-radius: 15px;
    background: #679cf6;
    border-radius: 10px;
  }
}
.list_detail {
  width: 1180px;
  height: auto;
  line-height: 100px;
  background: #fff;
  margin: 0 200px;
  margin-top: 10px;
  .input_tab {
    width: 1140px;
    border-bottom: 1px solid #ccc;
    background: #fff;
    margin-left: 20px;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    .ElButton {
      margin-top: 30px;
      margin-right: 10px;
    }
    div {
      margin: 0 10px;
    }
    .input_text {
      margin: 0 10px;
    }
  }
}
.t_a_list {
  width: 1180px;
  height: 164.4px;
  background: #fff;
  margin: 0 200px;
  margin-top: 10px;
  display: flex;
  .el-row {
    width: 1140px;
    height: 164.4px;
    margin-left: 20px;
    border-bottom: 1px solid #ccc;
  }
  .main_left {
    width: 949px;
    height: 122px;
    margin-left: 20px;
    .main_left_name {
      margin-bottom: 5px;
      small {
        margin: 0 10px;
      }
      span {
        float: right;
        margin-right: 50px;
      }
    }
    .main_left_tag {
      margin: 10px 0;
    }
    .main_left_title {
      width: 900px;
      float: left;
      margin: 10px 0;
    }
    .foot {
      float: right;
    }
  }
  .wrap-main-right {
    float: right;
    button {
      width: 100px;
      height: 40px;
      // margin-top: 20px;
      // margin-right: 20px;
      background: #679cf6;
      border: 0;
      border-radius: 10px;
      color: #fff;
    }
  }
}
.page {
  width: 1180px;
  background: #fff;
  margin: 0 200px;
  margin-top: 10px;
}
.downactive {
  transform: rotate(180deg);
}
.train_btn {
  // display: flex;
  .data-v-735e312b {
    padding: 5px 10px;
    border-radius: 15px;
    border: 1px solid #679cf6;
    text-align: center;
    font-size: 12px;
    color: #679cf6;
    margin-right: 15px;
  }
}
</style>
