<template>
  <div>
    <el-table :data="data" :column="column" v-bind="$attrs">
      <template v-for="(item, index) in column" :key="index">
        <el-table-column v-if="item.slot" v-bind="item" align="center">
          <!-- 头部内容，具名插槽 -->
          <template #header v-if="item.slot.title">
            <slot :name="item.slot.title"></slot>
          </template>
          <!-- 列里面的内容 ,作用域插槽-->
          <template #default="{ row }" v-if="item.slot.body">
            <slot :name="item.slot.body" :data="row"></slot>
          </template>
        </el-table-column>
        <el-table-column v-else v-bind="item" algin="center"></el-table-column>
      </template>
    </el-table>
  </div>
</template>

<script>
export default {
  setup() {},
  props: {
    data: {
      type: Array,
    },
    column: {
      type: Array,
    },
  },
};
</script>

<style></style>
