<template>
  <el-menu
    :default-active="activeIndex2"
    class="el-menu-demo"
    mode="horizontal"
    background-color="#545c64"
    text-color="#fff"
    active-text-color="#679cf6"
  >
    <el-menu-item index="1"
      ><router-link to="/index/job">岗位</router-link></el-menu-item
    >
    <el-menu-item index="2"
      ><router-link to="/index/project">项目</router-link></el-menu-item
    >
    <el-submenu index="3" v-if="type === '2'">
      <template #title>实训</template>
      <div>
        <el-menu-item index="3-1"
          ><router-link to="/index/training/trainingPlan"
            >计划</router-link
          ></el-menu-item
        >
        <el-menu-item index="3-2"
          ><router-link to="/index/training/schedule"
            >进度</router-link
          ></el-menu-item
        >
        <el-menu-item index="3-3"
          ><router-link to="/index/training/reply"
            >答辩</router-link
          ></el-menu-item
        >
        <el-menu-item index="3-3"
          ><router-link to="/index/training/planManagement"
            >计划（管理）</router-link
          ></el-menu-item
        >
      </div>
    </el-submenu>
    <el-menu-item index="3" v-else
      ><router-link to="/index/training">实训</router-link></el-menu-item
    >
    <el-submenu index="4">
      <template #title>面试</template>
      <el-menu-item index="4-1"
        ><router-link to="/index/interview/interviewRecord"
          >面试记录</router-link
        ></el-menu-item
      >

      <el-menu-item index="4-2" v-if="type === '2'"
        ><router-link to="/index/interview/interviewLeader"
          >面试记录管理</router-link
        ></el-menu-item
      >
      <el-menu-item index="4-2" v-else
        ><router-link to="/index/interview/myInterviewLeader"
          >我的面试记录</router-link
        ></el-menu-item
      >
      <el-menu-item index="4-3"
        ><router-link to="/index/interview/interviewRank"
          >面试排行榜</router-link
        ></el-menu-item
      >
    </el-submenu>
    <el-submenu index="5">
      <template #title>问答</template>
      <el-menu-item index="5-1"
        ><router-link to="/index/session/answerList"
          >问答列表</router-link
        ></el-menu-item
      >
      <el-menu-item index="5-2" v-if="type === '2'"
        ><router-link to="/index/session/answerLeader"
          >问答管理</router-link
        ></el-menu-item
      >
      <el-menu-item index="5-2" v-else
        ><router-link to="/index/session/myAnswerLeader"
          >我的问答</router-link
        ></el-menu-item
      >
    </el-submenu>
  </el-menu>
</template>

<script>
export default {
  setup() {
    const type = JSON.parse(localStorage.getItem("Authorization"));
    return {
      activeName: "first",
      activeIndex: "1",
      activeIndex2: "1",
      type: type.radio,
    };
  },
};
</script>

<style scpoed>
a {
  color: #fff;
  text-decoration: none;
}
</style>
