<template>
  <div class="myinterview">
    <div class="top">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>面试</el-breadcrumb-item>
        <el-breadcrumb-item>我的面试记录</el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <div class="list">
      <!-- 搜索 -->
      <div class="list_input">
        <el-input
          prefix-icon="el-icon-search"
          placeholder="搜索岗位/公司名称"
          v-model="input2"
          @change="search"
        >
        </el-input>
        <div class="add" v-if="radio == '1'">
          <el-button type="primary" @click="addinter">+添加面试记录</el-button>
        </div>
      </div>
      <!-- 表 格 -->
      <div class="table">
        <el-table
          :data="list"
          stripe
          style="width: 100%"
          border
          :header-cell-style="headClass"
        >
          <el-table-column label="岗位名称" width="100">
            <template #default="scope">
              <el-button
                @click="handleClick(scope.row)"
                type="text"
                size="small"
              >
                {{ scope.row.stationName }}
              </el-button>
            </template>
          </el-table-column>
          <el-table-column
            prop="companyName"
            label="公司名称"
            width="150"
          ></el-table-column>
          <el-table-column prop="interviewTime" label="面试时间" width="200">
          </el-table-column>
          <el-table-column
            prop="intervierManagement"
            label="面试官"
            width="150"
          ></el-table-column>
          <el-table-column prop="majorName" label="专业"></el-table-column>
          <el-table-column
            prop="commitName"
            label="提交人"
            width="120"
          ></el-table-column>
          <el-table-column label="面试结果" :formatter="stateFormat">
          </el-table-column>
          <el-table-column
            label="录音文件"
            :formatter="stateFormat1"
          ></el-table-column>
          <el-table-column
            label="屏蔽"
            :formatter="stateFormat2"
          ></el-table-column>

          <el-table-column label="操作" width="100">
            <template #default="scope">
              <i
                class="el-icon-edit-outline"
                style="color: #679cf6; margin-right: 10px"
                @click="handleedit(scope.row)"
              ></i>
              <i
                class="el-icon-delete"
                style="color: #679cf6"
                @click="handledelete(scope.row)"
              ></i>
            </template>
          </el-table-column>
        </el-table>

        <!-- 分页 -->
        <div class="pagination">
          <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :page-size="pageSize"
            layout="total, prev, pager, next, jumper"
            :total="total"
          >
          </el-pagination>
        </div>
      </div>
    </div>

    <!-- 弹框 -->
    <el-dialog title="提示" v-model="dialogVisible" width="30%">
      <span>你确定要删除该项面试记录吗?</span>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="dialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="suredelete">确 定</el-button>
        </span>
      </template>
    </el-dialog>
  </div>
</template>

<script>
import { getdelete } from "@/api/config/interview";
import begs from "@/api/index";
import router from "@/router";
import { reactive, toRefs, onMounted } from "vue";
export default {
  setup() {
    let state = reactive({
      list: [], // 表格数据
      status: null, // 面试结果
      pageNum: 1, // 当前页
      pageSize: 10, // 一页多少条
      total: null, // 表格数据总数
      input2: "", // 输入值
      searchTitle: null, // 搜索
      majorId: null, // 主页数据每一项Id
      radio: null, // 老师还是学生
      dialogVisible: false, // 删除弹框
      interviewId: null, //删除的id
    });
    let radio1 = localStorage.Authorization
      ? JSON.parse(localStorage.Authorization).radio
      : "";
    state.radio = radio1;
    // 表格
    const pagelist = async () => {
      let { pageNum, pageSize, searchTitle, majorId, status } = state;
      let res = await begs.interview.getinterviewList({
        searchTitle,
        pageNum,
        pageSize,
        majorId,
        status,
      });
      if (res.data.code == 200) {
        state.list = res.data.rows;
        state.total = res.data.total;
      }
    };
    onMounted(() => {
      pagelist();
    });

    const methods = {
      handleedit(row) {
        // console.log(row, "编辑");
        router.push(`/index/interview/${row.interviewId}`);
      },
      addinter() {
        // 点击添加
        router.push("/index/interview/addinter");
      },
      handleClick(row) {
        // 眺详情
        // console.log(row);
        // console.log(row.interviewId);
        router.push(`/index/interview/${row.interviewId}`);
      },
      handledelete(row) {
        // 点击删除
        state.dialogVisible = true;
        state.interviewId = row.interviewId;
      },

      // 确定删除?
      async suredelete() {
        const { interviewId } = state;
        let res = await getdelete(interviewId);
        if (res.data.code === 200) {
          pagelist();
          state.dialogVisible = false;
        }
      },
      headClass() {
        // 标题背景色
        return "background:#E8E9EE;text-align: center;";
      },
      stateFormat(row) {
        // 面试结果
        if (row.status == 0) {
          return "不确定";
        } else if (row.status == 1) {
          return "通过";
        } else if (row.status == 2) {
          return "未通过";
        }
      },
      stateFormat1(row) {
        // 录音文件
        if (row.status == 0) {
          return "无";
        } else if (row.status == 1) {
          return "有";
        }
      },
      stateFormat2(row) {
        // 屏蔽
        if (row.status == 0) {
          return "正常";
        } else if (row.status == 1) {
          return "被屏蔽";
        }
      },
      search(val) {
        // 搜索
        // console.log(state.input2);
        state.searchTitle = val;
        pagelist();
      },
      handleSizeChange(val) {
        // console.log(`每页 ${val} 条`);
        state.pageSize = val;
        pagelist();
      },
      handleCurrentChange(val) {
        // console.log(`当前页: ${val}`);
        state.pageNum = val;
        pagelist();
      },
    };
    return {
      ...toRefs(state),
      ...methods,
      ...onMounted,
    };
  },
};
</script>

<style lang="scss" scoped>
.table {
  /deep/.el-table th > .cell {
    text-align: center;
  }

  /deep/.el-table .cell {
    text-align: center;
  }
}
.myinterview {
  width: 100%;
  height: auto;
  background: rgba(178, 183, 198, 0.15);
  .top {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: rgba(103, 156, 246, 0.1);
    div {
      padding: 30px;
      width: 1200px;
      margin: 0 auto;
    }
  }
  .list {
    width: 1200px;
    overflow-y: scroll;
    margin: 0 auto 20px;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    .table {
      width: 100%;
      background: #fff;
    }
    .list_input {
      display: flex;
      float: right;
    }
  }
}
.pagination {
  float: right;
}
</style>
