<script>
// 面包屑组件
import { useRoute } from "vue-router";
import { reactive } from "vue";
export default {
  setup() {
    const state = reactive({
      list: [],
    });
    const router = useRoute();
    state.list = router.matched;
    // 通过这个能获取到路由得元信息，获得以后标题就在辕信息里面，再渲染面包屑
    return () => (
      <el-breadcrumb>
        <el-breadcrumb-item>首页</el-breadcrumb-item>
      </el-breadcrumb>
    );
  },
};
</script>
