<template>
  <div class="oo">
    <!-- 内容部分 -->
    <div class="scheduleOutr" v-if="isLoading">
      <!-- 面包屑 -->
      <div class="replyTop">
        <!-- 面包屑部分 -->
        <div class="replytopCon">
          <el-breadcrumb separator="/" class="cur">
            <el-breadcrumb-item>进度</el-breadcrumb-item>
            <el-breadcrumb-item :to="{ path: '/' }"
              >进度监控</el-breadcrumb-item
            >
          </el-breadcrumb>
        </div>
      </div>
      <!-- 上半部分 -->
      <div data-v-32380e42="" class="teacher_plan_view">
        <div data-v-32380e42="" class="plan_view_header">
          <!-- 下拉框 -->
          <div class="select" v-if="showSelect">
            <el-select
              v-model="value"
              placeholder="请选择"
              @change="changeSelect"
            >
              <el-option
                v-for="item in options"
                :key="item.id"
                :label="item.planname"
                :value="item.id"
              >
              </el-option>
            </el-select>
          </div>
          <div data-v-32380e42="" class="plan_view_header_top">
            <div data-v-32380e42="" class="plan_view_header_left">
              <div data-v-32380e42="" class="plan_view_header_t1">
                {{ initData.className }}
              </div>
              <div data-v-32380e42="" class="plan_view_header_t2">
                {{ initData.planname }}
              </div>
              <div data-v-32380e42="" class="plan_view_header_t3">
                {{ initData.begintime }} ~ {{ initData.endtime }}
              </div>
            </div>
            <div data-v-32380e42="" class="plan_view_header_right">
              <div data-v-32380e42="" class="el-select el-select--medium">
                <!-- 选择框 -->
              </div>
            </div>
          </div>
          <div data-v-32380e42="" class="plan_view_class">
            <div data-v-32380e42="" class="plan_view_class_item">
              <span
                data-v-32380e42=""
                class="plan_view_class_item_t1 blue"
                id="t1"
                >{{ initData.countStus }}</span
              ><span data-v-32380e42="" class="plan_view_class_item_t2" id="ccc"
                >总人数</span
              >
            </div>
            <div data-v-32380e42="" class="plan_view_class_item">
              <span
                data-v-32380e42=""
                class="plan_view_class_item_t1 oriange"
                id="t2"
                >{{ initData.progress }}%</span
              ><span data-v-32380e42="" class="plan_view_class_item_t2" id="ccc"
                >完成率</span
              >
            </div>
            <div data-v-32380e42="" class="plan_view_class_item">
              <span
                data-v-32380e42=""
                class="plan_view_class_item_t1 green"
                id="t3"
                >{{ initData.states }}</span
              ><span data-v-32380e42="" class="plan_view_class_item_t2" id="ccc"
                >按期完成人数</span
              >
            </div>
            <div data-v-32380e42="" class="plan_view_class_item">
              <span
                data-v-32380e42=""
                class="plan_view_class_item_t1 red"
                id="t4"
                >{{ initData.countUncompleted }}</span
              ><span data-v-32380e42="" class="plan_view_class_item_t2" id="ccc"
                >延期未完成人数</span
              >
            </div>
          </div>
        </div>
      </div>
      <!-- 下半部分 -->
      <div class="scheduleBom">
        <div class="scheduleBomLeft">
          <div class="content">
            <!-- 上面固定的部分 -->
            <div class="leftTop" v-for="(item, index) in tableArr" :key="index">
              <div class="topOne">
                <span>{{ item.groupname }}</span>
              </div>
              <div class="progess">
                <el-progress
                  :percentage="item.groupProgress"
                  color="#ffa841"
                  :show-text="true"
                ></el-progress>
              </div>
              <div class="bom">
                <div class="ren">
                  <img
                    data-v-32380e42=""
                    src="http://111.203.59.61:8060/static/img/person.358ba865.svg"
                    alt=""
                  />
                  <span>人员&emsp;&emsp;{{ item.members }}</span>
                </div>
                <div class="fin">
                  <img
                    src="http://111.203.59.61:8060/static/img/complete.ac9f6b54.svg"
                    alt=""
                  />
                  <span>按期完成&emsp;&emsp;{{ item.finished }}</span>
                </div>
                <div class="noFin">
                  <img
                    src="http://111.203.59.61:8060/static/img/nocomplete.3f20402c.svg"
                    alt=""
                  />
                  <span
                    >延期未完成&emsp;&emsp;{{
                      item.members - item.finished
                    }}</span
                  >
                </div>
              </div>
              <div class="fixed" @click="changShow(index)">
                {{ !item.show ? "展示" : "收起" }}
              </div>
              <!-- 表格部分 -->
              <div class="tableCon" v-if="item.show">
                <Table :data="item?.stuList" :column="column" calss="table">
                  <template #mingzi="{ data }"
                    ><span>{{ data.username }}</span></template
                  >
                </Table>
              </div>
            </div>
          </div>
        </div>
        <!-- 排行榜 -->
        <div :class="rankList.length > 0 ? 'scheduleBomRight' : 'none'">
          <h3>班级排行榜</h3>
          <div class="rank" v-if="rankList.length > 0">
            <div class="list" v-for="(item, index) in rankList" :key="index">
              <div class="listLeft">
                <img
                  :src="'http://111.203.59.61:8060' + item.studentUrl"
                  alt=""
                />
              </div>
              <div class="leftCenter">
                <p>{{ item.username }}</p>
                <p>{{ item.groupname }}</p>
              </div>
              <div class="listRight">
                <span>{{ item.taskCompletedpProgress * 100 }}%</span>
              </div>
              <div :class="'rankFix'" :id="className(index)">
                {{
                  index === 0
                    ? "TOP.1"
                    : index === 1
                    ? "TOP.2"
                    : index === 2
                    ? "TOP.3"
                    : index + 1
                }}
              </div>
            </div>
          </div>
          <div class="noArr" v-else>暂无数据</div>
        </div>
      </div>
    </div>
    <!-- loading动画 -->
    <Loading v-else></Loading>
  </div>
</template>

<script>
// 引入样式
import "@/assets/css/schedule.scss";
import apis from "@/api";
import { reactive, toRefs } from "vue";
import { useRoute } from "vue-router";
export default {
  setup() {
    let route = useRoute();
    //
    // 内部状态
    const state = reactive({
      initData: {},
      options: [],
      value: "",
      classid: "",
      classPlanid: "",
      isLoading: false,
      rankList: [],
      tableArr: [],
      column: [
        {
          label: "姓名",
          slot: {
            body: "mingzi",
          },
        },
        {
          label: "",
        },
        {
          label: "",
        },
        {
          label: "",
        },
        {
          label: "",
        },
      ],
      showSelect: true,
    });

    // 方法集合
    const method = {
      // 下拉框发生变化的时候
      async changeSelect(id) {
        let { classid, classPlanid } = state;
        let result = state.options.filter((item) => item.id === id)[0];
        classid = result.classid;
        classPlanid = id;
        // 请求页面需要的对象
        let res = await apis.viewplan.selectClassPlanInit({
          classid,
          classPlanid,
        });
        // 请求排行榜数据
        let {
          data: { data },
        } = await apis.viewplan.classRank({
          classid,
          classPlanid,
        });
        state.rankList = data;
        state.initData = res.data.data;
        state.tableArr = state.initData.list.map((item) => {
          return { ...item, show: false };
        });
      },
      // 点击切换展示不展示
      changShow(index) {
        state.tableArr[index].show = !state.tableArr[index].show;
      },
    };
    // 计算class应该叫什么名字
    const className = (index) => {
      switch (index) {
        case 0:
          return "first";
        case 1:
          return "two";
        case 2:
          return "three";
        default:
          break;
      }
    };

    // 初始化请求数据
    const getData = async () => {
      let { classid, classPlanid } = state;
      // 这个请求的是下拉框的数据
      let {
        data: { data },
      } = await apis.viewplan.selectClassPlan();
      // 请求页面需要的对象
      let res = await apis.viewplan.selectClassPlanInit({
        classid,
        classPlanid,
      });

      state.initData = res.data.data;
      state.tableArr = state.initData.list;
      state.options = data;
      state.isLoading = true;
    };
    // 初始化方法
    const init = async () => {
      // 进页面以后先判断有没有路由传参
      if (route.query.id !== undefined) {
        state.showSelect = false;
        let { classid, classPlanid } = state;
        classid = route.query.classid;
        classPlanid = route.query.id;
        // 请求页面需要的对象
        let res = await apis.viewplan.selectClassPlanInitAll({
          classid,
          classPlanid,
        });
        // 请求排行榜数据
        let {
          data: { data },
        } = await apis.viewplan.classRank({
          classid,
          classPlanid,
        });
        console.log(data);
        state.isLoading = true;
        state.rankList = data;
        state.initData = res.data.data;
        state.tableArr = state.initData.list.map((item) => {
          return { ...item, show: false };
        });
        return;
      }
      getData();
    };

    init();
    return {
      ...toRefs(state),
      ...toRefs(method),
      className,
    };
  },
};
</script>

<style lang="scss">
.oo {
  width: 100%;
}
.scheduleOutr {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  .tableCon {
    width: 750px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .content {
    width: 100%;
    margin-bottom: 20px;
    .leftTop {
      width: 100%;
      box-sizing: border-box;
      padding: 15px;
      position: relative;
      background-color: #fff;
      .topOne {
        height: 40px;
        line-height: 40px;
        margin-bottom: 20px;
        span {
          font-size: 20px;
        }
      }
      .progess {
        margin-bottom: 20px;
      }
      .fixed {
        position: absolute;
        font-size: 16px;
        top: 110px;
        right: 20px;
        cursor: pointer;
      }
      .bom {
        display: flex;
        div {
          padding: 10px;
          font-size: 14px;
          margin-right: 30px;
          display: flex;
          align-items: center;
          span {
            margin-left: 10px;
            margin-right: 10px;
          }
        }
      }
    }
  }

  .replyTop {
    width: 100%;
    height: 74px;
    background-color: #e6ebf7;
    box-sizing: border-box;
    .replytopCon {
      width: 100%;
      height: 100%;
      .cur {
        width: 100%;
        height: 74px;
        line-height: 74px;
        position: relative;
        left: 50px;
      }
    }
  }
  .scheduleTop {
    width: 80%;
    height: 250px;
    background-color: #fff;
  }
  .scheduleBom {
    width: 1200px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    .scheduleBomLeft {
      width: 800px;
      margin-bottom: 20px;
    }
    .none {
      height: 200px;
      box-sizing: border-box;
      padding: 15px;
      width: 300px;
      min-height: 200px;
      background-color: #fff;
      .noArr {
        width: 100%;
        height: 100px;
        box-sizing: border-box;
        padding: 30px 30px 30px 0px;
      }
    }
    .scheduleBomRight {
      box-sizing: border-box;
      padding: 15px;
      width: 300px;
      background-color: #fff;
      .rank {
        width: 100%;
        background-color: #fbfbfc;
        margin-top: 15px;
        border-radius: 15px;
        overflow: hidden;
        .rankFix {
          width: 30px;
          height: 30px;
          background-color: #e5e6ec;
          text-align: center;
          line-height: 30px;
          font-size: 14px;
          color: #333;
          border-radius: 10px 0px 80% 0px;
          position: absolute;
          left: 0px;
          top: 0px;
        }
        .list {
          width: 100%;
          height: 60px;
          margin-bottom: 5px;
          display: flex;
          justify-content: space-around;
          align-items: center;
          position: relative;
          .leftCenter {
            width: 55%;
            height: 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-left: 30px;
            & > p:nth-child(1) {
              font-size: 14px;
            }
            & > p:nth-child(2) {
              color: #ccc;
              font-size: 14px;
            }
          }
          .listLeft {
            width: 20%;
          }
          .listRight {
            width: 20%;
            color: #ff8d41;
            font-weight: 800;
          }
          #first {
            width: 53px;
            color: #fff;
            background-color: #e34949;
          }
          #two {
            color: #fff;
            width: 53px;
            background-color: #fac317;
          }
          #three {
            width: 53px;
            color: #fff;
            background-color: #679cf6;
          }
          img {
            width: 40px;
            height: 40px;
            margin-left: 25px;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
</style>
