<template>
  <div class="interviewRank">
    <div class="top">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>面试</el-breadcrumb-item>
        <el-breadcrumb-item>面试排行榜</el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <div class="box">
      <div class="center">
        <div class="addProject_title">
          <div class="left">
            <h3 @click="interview" :class="flag == true ? 'active' : ''">
              面试记录榜单
            </h3>
            <h3 @click="interviewti" :class="flag == false ? 'active' : ''">
              面试题榜单
            </h3>
          </div>
        </div>
        <div class="addtask_detail">
          <!-- 表格 -->
          <div class="table" v-if="flag == true">
            <el-table
              :data="list"
              stripe
              style="width: 100%"
              border
              :header-cell-style="headClass"
            >
              <el-table-column
                prop="rangking"
                label="排名"
                width="250"
              ></el-table-column>
              <el-table-column prop="commitName" label="提交人" width="250">
              </el-table-column>
              <el-table-column
                prop="count"
                label="面试记录提交数"
                width="200"
              ></el-table-column>
              <el-table-column
                prop="className"
                label="班级"
                width="250"
              ></el-table-column>
              <el-table-column
                prop="majorName"
                label="专业"
                width="200"
              ></el-table-column>
            </el-table>
          </div>
          <!-- 表格 -->
          <div class="table" v-if="flag == false">
            <el-table
              :data="list1"
              stripe
              style="width: 100%"
              border
              :header-cell-style="headClass"
            >
              <el-table-column
                prop="rangking"
                label="排名"
                width="250"
              ></el-table-column>
              <el-table-column prop="commitName" label="提交人" width="250">
              </el-table-column>
              <el-table-column
                prop="count"
                label="面试记录提交数"
                width="200"
              ></el-table-column>
              <el-table-column
                prop="className"
                label="班级"
                width="250"
              ></el-table-column>
              <el-table-column
                prop="majorName"
                label="专业"
                width="200"
              ></el-table-column>
            </el-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import begs from "@/api/index";
import { reactive, toRefs, onMounted } from "vue";
export default {
  setup() {
    let state = reactive({
      total: null, // 表格数据总数
      list: [],
      list1: [],
      flag: true,
    });

    // 面试记录榜单
    const pagelist = async () => {
      let res = await begs.interview.getinterviewmianshi({});
      // console.log(res);
      if (res.data.code == 200) {
        state.list = res.data.rows;
      }
    };
    // 面试题榜单
    const pagelist1 = async () => {
      let res = await begs.interview.getinterviewmianshiti({});
      // console.log(res);
      if (res.data.code == 200) {
        state.list1 = res.data.rows;
      }
    };

    onMounted(() => {
      pagelist();
      pagelist1();
    });

    const methods = {
      headClass() {
        // 标题背景色
        return "background:#E8E9EE;text-align: center;";
      },
      interview() {
        state.flag = true;
        pagelist();
      },
      interviewti() {
        state.flag = false;
        pagelist1();
      },
    };
    return {
      ...toRefs(state),
      ...methods,
      ...onMounted,
    };
  },
};
</script>

<style lang="scss" scoped>
.table {
  /deep/.el-table th > .cell {
    text-align: center;
  }

  /deep/.el-table .cell {
    text-align: center;
  }
}
.active {
  border-bottom: 2px solid blue;
  padding-bottom: 13px;
}
.interviewRank {
  width: 100%;
  height: 100%;
  background: rgba(178, 183, 198, 0.15);
  .top {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: rgba(103, 156, 246, 0.1);
    div {
      padding: 30px;
      width: 1200px;
      margin: 0 auto;
    }
  }
  .box {
    width: 1200px;
    margin: 0 auto 20px;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    .center {
      width: 100%;
      background: #fff;
      border-radius: 2px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      .addProject_title {
        display: flex;
        padding-left: 20px;
        padding-right: 20px;
        height: 70px;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: center;
        border-bottom: 3px solid #ccc;

        .left {
          display: flex;
          h3 {
            margin-right: 20px;
          }
        }
      }
    }
  }
}
</style>
