<template>
  <div class="job">
    <div class="top">
      <div><span class="toph">项目</span> <span>/ 项目管理</span></div>
    </div>
    <div class="fromdata">
      <el-button class="btn">
        上传
        <!-- accept属性用来搞后缀名 -->
        <input type="file" accept="mp4,m4a" />
      </el-button>
    </div>
    <div class="mian">
      <div class="tib">
        <div class="tags">
          <div class="tags_title">
            <span>专业</span>
            :
          </div>
          <ol class="tags_count">
            <li
              v-for="(item, index) in list"
              :key="index"
              :class="{ active: activeindex === index ? true : false }"
              @click="activeClick(item.id, index)"
            >
              <span>{{ item.name }}</span>
            </li>
          </ol>
        </div>
        <div class="tags">
          <div class="tags_title">
            <span>状态</span>
            :
          </div>
          <ol class="tags_count">
            <li
              v-for="(item, index) in statusList"
              :key="index"
              @click="activeClickone(item.id, index)"
              :class="{ active: activeindexone === index ? true : false }"
            >
              <span>{{ item.name }}</span>
            </li>
          </ol>
        </div>
      </div>
      <div class="list"></div>
      <div>
        <input type="text" />
        <button>添加</button>
      </div>
      <div class="tab">
        <el-table :data="tablist" style="width: 1200">
          <el-table-column prop="name" label="岗位名称"> </el-table-column>
          <el-table-column prop="majorName" label="版本号"> </el-table-column>
          <el-table-column prop="skillNum" label="技能数量"> </el-table-column>
          <el-table-column prop="userName" label="作者"> </el-table-column>
          <el-table-column prop="createTime" label="时间"> </el-table-column>
          <el-table-column prop="status" label="状态"> </el-table-column>

          <el-table-column label="操作">
            <template #default="scope">
              <el-button
                @click="handleClick(scope.row)"
                type="text"
                size="small"
                >查看</el-button
              >
              <el-button type="text" size="small">编辑</el-button>
            </template>
          </el-table-column>
        </el-table>
        <div class="find">
          <div class="find1">
            <el-pagination small layout="prev, pager, next" :total="50">
            </el-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { reactive, toRefs } from "vue";
import api from "@/api";
export default {
  setup() {
    let data = reactive({
      list: [],
      statusList: [
        { id: "1", name: "草稿" },
        { id: "2", name: "已发布" },
        { id: "3", name: "待审核" },
        { id: "4", name: "已驳回" },
      ],
      activeindex: 0,
      activeindexone: 0,
      tablist: [],
      parameter: {
        isAsc: "desc",
        pageNum: 1,
        pageSize: 10,
        searchTitle: "",
        majorId: null,
        status: null,
        isMyInfo: false,
      },
    });

    const getjob = async () => {
      let res = await api.job._getMajorList();
      data.list = res.data.data;
    };
    const activeClick = (id, ind) => {
      data.activeindex = ind;
      let one = ind + 1;
      let two = "P000" + one;
      gettabList({
        ...data.parameter,
        majorId: two,
      });
    };
    const activeClickone = (id, ind) => {
      data.activeindexone = ind;
    };
    getjob();
    const handleClick = (row) => {
      console.log(row);
    };
    const gettabList = async (parameter) => {
      let res = await api.job._getPostList(parameter);
      data.tablist = res.data.rows;
    };
    gettabList(data.parameter);
    return {
      ...toRefs(data),
      getjob,
      activeClick,
      activeClickone,
      handleClick,
      gettabList,
    };
  },
};
</script>

<style lang="scss" scoped>
.fromdata {
  width: 300px;
  height: 100px;
  background-color: #fff;
  .btn {
    width: 80px;
    height: 40px;
    position: relative;
    input {
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
    }
  }
}
.job {
  width: 100%;
  height: auto;
  background: rgba(178, 183, 198, 0.15);
  .top {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: rgba(103, 156, 246, 0.1);
    div {
      padding: 30px;
      width: 1200px;
      margin: 0 auto;

      .toph {
        color: #999;
      }
      .toph:hover {
        color: #679cf6;
      }
    }
  }
  .mian {
    width: 1200px;
    margin: 0 auto 20px;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    .tib {
      width: 100%;
      background: #fff;
      margin-top: 10px;
      .tags {
        padding-top: 10px;
        width: 100%;
        margin: 0 auto;
        background: #fff;

        display: flex;
        align-items: center;
        .tags_title {
          width: 70px;
          height: 50px;
          line-height: 50px;
          text-align: center;
        }
        .tags_count {
          flex: 1;
          display: flex;
          flex-wrap: wrap;
          li {
            padding: 6px 20px;
            user-select: none;
            cursor: pointer;
            margin-left: 5px;
            margin-bottom: 5px;
          }
          li:hover {
            background: #679cf6;
            color: #fff;
            border-radius: 20px;
          }
          .active {
            background: #679cf6;
            color: #fff;
            border-radius: 20px;
          }
        }
      }
    }
    .tab {
      width: 100%;
      margin-top: 10px;
      .find {
        width: 100%;
        height: 50px;
        .find1 {
          float: right;
        }
      }
    }
  }
}
</style>
