<template>
  <div class="loginOutr">
    <div class="login">
      <h3>八维生产性实训平台</h3>
      <p>
        <el-input
          v-model="username"
          placeholder="请输入账号"
          class="input"
          prefix-icon="el-icon-s-custom"
        ></el-input>
      </p>
      <form action="">
        <p>
          <el-input
            class="input"
            v-model="password"
            placeholder="请输入密码"
            prefix-icon="el-icon-milk-tea"
            type="password"
          ></el-input>
        </p>
      </form>

      <p>
        <el-input
          class="input captcha"
          v-model="captcha"
          placeholder="验证码"
          prefix-icon="el-icon-thumb"
        ></el-input>
        <img class="img" :src="imgUrl" alt="" @click="changImg" />
      </p>
      <p><el-checkbox v-model="checked">记住密码</el-checkbox></p>
      <p class="mes">
        <el-button class="button" @click="login">登录</el-button>
        <span class="radio">
          <el-radio v-model="radio" label="1">学生</el-radio>
          <el-radio v-model="radio" label="2">老师</el-radio>
        </span>
      </p>
    </div>
  </div>
</template>

<script>
import { defineComponent, ref } from "vue";
import { ElMessage } from "element-plus";
import begs from "../api/index";
import router from "@/router";

export default defineComponent({
  setup() {
    return {
      username: ref(""),
      password: ref(""),
      captcha: ref(""),
      imgUrl: ref(""),
      uuid: ref(""),
      checked: ref(false),
      radio: ref("0"),
    };
  },
  methods: {
    //点击登录的时候
    async login() {
      let { username, password, captcha, radio, uuid } = this;
      let res = await begs.user.getLogin({
        code: captcha,
        key: radio === "1" ? "student" : "teacher",
        password,
        username,
        uuid,
      });
      // console.log(res);
      // 根据不同情况提示不同的信息
      switch (res.data.code) {
        case 500:
          ElMessage.error({
            message: res.data.msg,
          });
          break;
        case 200:
          ElMessage.success({
            message: "登录成功",
            onClose: () => {
              const { radio, username } = this;
              router.push("/index");
              // 把token值和登录信息储存起来
              localStorage.setItem(
                "Authorization",
                JSON.stringify({
                  token: res.data.token,
                  radio,
                  username,
                })
              );
            },
          });
          break;
        default:
          break;
      }
    },
    // 点击切换验证码
    async changImg() {
      localStorage.clear();
      let res = await begs.user.getCaptcha();
      this.uuid = res.data.uuid;
      this.imgUrl = "data:image/png;base64," + res.data.img;
    },
  },
  async created() {
    this.changImg();
  },
});
</script>

<style lang="scss" scoped>
.loginOutr {
  width: 100%;
  height: 100%;
  background-image: url("http://111.203.59.61:8060/static/img/login-background.55b26da3.jpg");
  position: relative;
}
.login {
  width: 400px;
  height: 360px;
  background-color: #fff;
  position: absolute;
  right: 8%;
  top: 30%;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  h3 {
    color: #707070;
  }
  p {
    width: 90%;
    display: flex;
    margin-left: 50px;
    font-size: 14px;
    .input {
      width: 80%;
    }
    .captcha {
      width: 50%;
    }
    .img {
      width: 90px;
      margin-left: 20px;
      height: 40px;
    }
    .button {
      background-color: #1890ff;
      color: #fff;
      width: 80%;
      margin-right: 60px;
    }
  }
  .mes {
    display: inline-block;
    position: relative;
    .radio {
      position: absolute;
      right: 70px;
      top: -44px;
    }
  }
}
</style>
