<template>
  <div class="MyanswerLeader">
    <!-- 头部面包屑 -->
    <div class="crumbs">
      <el-breadcrumb separator="/" class="crumbs_top">
        <el-breadcrumb-item>问答</el-breadcrumb-item>
        <el-breadcrumb-item>我的问答</el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <div class="el-tabs--top">
      <div class="el-tabs__nav-scroll">
        <div
          class="el-tabs__nav"
          v-for="(item, index) in myList"
          :key="index"
          :class="currentIndex == index ? 'active' : ''"
          @click="setIndex(index)"
        >
          <b>{{ item.name }}</b>
        </div>
      </div>
      <div class="input_tab">
        <div class="right_input">
          <el-input
            placeholder="搜索问答"
            style="width: 200px"
            v-model="questionTitle"
            @change="changeIpt()"
          />
        </div>
      </div>
      <div class="list_detail">
        <div
          class="t_a_list"
          v-for="(item, index) in myAnswerList"
          :key="index"
        >
          <div class="el-col">
            <div class="t_a_l_top">
              <div class="el-row">
                <span>{{ item.qUserName }}</span>
                <span>{{ item.replyTime }}前发布</span>
                <span>实训类型:未知</span>
                <span style="color: #b3b8c3" class="comment"
                  ><i class="el-icon-s-comment"></i>{{ item.answerCount }}</span
                >
              </div>
              <div class="question_title">
                <img
                  src="http://111.203.59.61:8060/static/img/authentication.c814dd7c.svg"
                  alt=""
                  v-if="!authentication"
                />
                <span @click="detail(item.answerId)">{{
                  item.questionTitle
                }}</span>
              </div>
              <div class="answer_detail" style="display: flex">
                <span
                  style="display: block; width: 559.99px; color: #80879b"
                  :class="item.unsupportDownB ? 'active' : ''"
                  >{{ item.questionTitle }}</span
                >
                <span
                  style="color: #679cf6"
                  @click="item.unsupportDownB = !item.unsupportDownB"
                  >查看全部
                  <i class="el-icon-arrow-down" v-if="!item.unsupportDownB"></i>
                  <i class="el-icon-arrow-up" v-if="item.unsupportDownB"></i>
                </span>
                <span style="color: #679cf6">
                  <i class="el-icon-edit-outline"></i>
                  <i class="el-icon-delete"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pagination">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          :page-size="pageSize"
          layout="prev, pager, next, jumper"
          :total="total"
        >
        </el-pagination>
      </div>
    </div>

    <div class="my_answer">
      <div class="notice">
        <div class="n_d_title">
          <b>我的问答</b>
        </div>
        <div class="s_info">
          <div class="s_avatar">
            <img
              src="http://111.203.59.61:8060/file_service/group1/M00/00/1B/rBsCHGC8sMqAB2cDAAC8MQ3506s51.jpeg"
              alt=""
            />
          </div>
          <div class="s_name">黄辉</div>
        </div>
        <div class="n_d_detail">
          <div class="n_d_ask">问</div>
          <div class="n_d_direction">
            提了<span class="data-v">{{
              getAnswerReplyList.numberQuestions
            }}</span>
            个问题，
            <span class="data-v">{{ getAnswerReplyList.numberReplies }}</span>
            人进行了回答
          </div>
        </div>
        <div class="el-row--flex">
          <div class="n_d_answer">答</div>
          <div class="n_d_direction">
            回答了
            <span class="data-v" style="color: #e02020">{{
              getAnswerReplyList.replyCount
            }}</span>
            个问题
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import router from "@/router";
import apis from "@/api/index";
import { reactive, toRefs, onMounted } from "vue";
export default {
  setup() {
    const state = reactive({
      answerId: null, //跳转详情页ID
      myAnswerList: [],
      total: 0,
      pageNum: 1,
      pageSize: 10,
      currentIndex: 0,
      getAnswerReplyList: [],
      questionTitle: "", //搜索的标题
      myList: [
        {
          name: "我的问题",
          index: 0,
        },
        {
          name: "我的答案",
          index: 1,
        },
      ],
    });

    const getMyAnswer = async () => {
      const { pageSize, pageNum, questionTitle } = state;
      const res = await apis.answerlist.MyAnswer({
        pageSize,
        pageNum,
        questionTitle,
      });
      if (res.data.code == 200) {
        state.myAnswerList = res.data.rows;
        state.total = res.data.total;
      }
    };

    const getAnswerReply = async () => {
      let res = await apis.answerlist.AnswerReply();
      if (res.data.code == 200) {
        state.getAnswerReplyList = res.data.data;
      }
      console.log(state.getAnswerReplyList);
    };
    onMounted(() => {
      getMyAnswer();
      getAnswerReply();
    });

    const methods = {
      handleSizeChange(val) {
        // console.log(`每页 ${val} 条`);
        state.pageSize = val;
        getMyAnswer();
      },
      handleCurrentChange(val) {
        // console.log(`当前页: ${val}`);
        state.pageNum = val;
        getMyAnswer();
      },
      setIndex(index) {
        state.currentIndex = index;
      },
      changeIpt() {
        const { questionTitle } = state;
        const val = questionTitle;
        getMyAnswer({ questionTitle: val });
      },
      detail(answerId) {
        // console.log(answerId);
        router.push(`/index/session/answerDetail/${answerId}`);
      },
    };

    return {
      ...toRefs(state),
      ...onMounted,
      ...methods,
    };
  },
};
</script>

<style lang="scss">
.MyanswerLeader {
  width: 100%;
  height: auto;
  background: #f4f4f7;
  position: relative;
}
.el-tabs--top {
  width: 880px;
  height: auto;
  margin-left: 170px;
}
.crumbs {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: rgba(103, 156, 246, 0.1);
  .crumbs_top {
    padding: 30px;
    width: 1200px;
    margin: 0 auto;
  }
}
.el-tabs__nav-scroll {
  width: 880px;
  height: 60px;
  background: #fff;
  line-height: 60px;
  .el-tabs__nav {
    b {
      margin: 0 20px;
    }
  }
}
.input_tab {
  width: 880px;
  height: 76px;
  line-height: 76px;
  .right_input {
    float: right;
  }
}
.list_detail {
  background: #fff;
  width: 880px;
  height: auto;
  .t_a_list {
    width: 840px;
    height: 146px;
    padding-bottom: 30px;
    border-bottom: 0.5px solid #f2f2f2;
    padding-bottom: 20px;
    padding-top: 20px;
    border-top: 0.5px solid #f2f2f2;
    margin-left: 20px;
    .el-col {
      width: 100%;
      height: 104.4px;
      float: left;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-box-sizing: inherit;
      box-sizing: inherit;
      .t_a_l_top {
        .el-row,
        .question_title,
        .answer_detail {
          margin: 20px 0;
          span {
            cursor: pointer;
          }
        }
      }
    }
  }
}
.el-row {
  span {
    margin-right: 20px;
  }
  .comment {
    margin-left: 320px;
  }
}
.my_answer {
  width: 280px;
  height: 195px;
  background: #fff;
  position: absolute;
  top: 74px;
  right: 150px;
  .notice {
    width: 250px;
    height: 140px;
    margin-left: 15px;
    margin-top: 20px;
    .n_d_title {
      width: 250px;
      height: 20px;
      border-left: 10px solid #679cf6;
      b {
        margin-left: 5px;
      }
    }
    .s_info {
      margin-top: 5px;
      display: flex;
      line-height: 40px;
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
      .s_name {
        line-height: 40px;
        margin-left: 5px;
        color: #80879b;
      }
    }
    .n_d_detail {
      display: flex;
      padding-left: 5px;
      .n_d_ask {
        width: 24px;
        height: 24px;
        background: #ff8d41;
        border-radius: 2px;
        text-align: center;
        font-size: 16px;
        font-family: SourceHanSansCN-Regular, SourceHanSansCN;
        font-weight: 400;
        color: #ffffff;
        line-height: 24px;
      }
      .data-v {
        color: #e02020;
      }
    }
  }
}
.pagination {
  width: 880px;
  height: 72px;
  line-height: 72px;
  background: #fff;
  text-align: right;
  padding-top: 20px;
  padding-bottom: 20px;
}
.active {
  color: red;
  font-size: 20px;
}
.el-row--flex {
  display: flex;
  .n_d_answer {
    width: 24px;
    height: 24px;
    background: #3bc9a9;
    border-radius: 2px;
    font-size: 14px;
    color: #679cf6;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    line-height: 24px;
  }
}
</style>
