<template>
  <div class="job">
    <div class="top">
      <div><span class="toph">岗位</span> <span>/ 岗位管理</span></div>
    </div>
    <div class="mian">
      <div class="tib">
        <div class="tags">
          <div class="tags_title">
            <span>专业</span>
            :
          </div>
          <ol class="tags_count">
            <li
              v-for="(item, index) in list"
              :key="index"
              :class="{ active: activeindex === index ? true : false }"
              @click="activeClick(item.id, index)"
            >
              <span>{{ item.name }}</span>
            </li>
          </ol>
        </div>
        <div class="tags">
          <div class="tags_title">
            <span>状态</span>
            :
          </div>
          <ol class="tags_count">
            <li
              v-for="(item, index) in statusList"
              :key="index"
              @click="activeClickone(item.id, index)"
              :class="{ active: activeindexone === index ? true : false }"
            >
              <span>{{ item.name }}</span>
            </li>
          </ol>
        </div>
      </div>
      <div class="list">
        <input type="text" />
        <el-button type="primary" size="small">添加岗位</el-button>
      </div>
      <div class="tab">
        <el-table :data="tablist" style="width: 1200">
          <el-table-column prop="name" label="岗位名称"> </el-table-column>
          <el-table-column prop="majorName" label="版本号"> </el-table-column>
          <el-table-column prop="skillNum" label="技能数量"> </el-table-column>
          <el-table-column prop="userName" label="作者"> </el-table-column>
          <el-table-column prop="createTime" label="时间"> </el-table-column>
          <el-table-column prop="status" label="状态"> </el-table-column>

          <el-table-column label="操作">
            <template #default="scope">
              <el-button
                v-if="scope.row.status == '3'"
                @click="handleClick(scope.row)"
                type="text"
                size="small"
                ><svg
                  t="1627471963320"
                  class="icon"
                  viewBox="0 0 1024 1024"
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  p-id="2816"
                  width="16"
                  height="16"
                >
                  <path
                    d="M984.22 567.56a27.76 27.76 0 0 0-27.78 27.78v305.55a55.63 55.63 0 0 1-55.56 55.56H123.11a55.63 55.63 0 0 1-55.56-55.56V123.11a55.63 55.63 0 0 1 55.56-55.56h305.56a27.78 27.78 0 0 0 0-55.56H123.11A111.22 111.22 0 0 0 12 123.11v777.78A111.22 111.22 0 0 0 123.11 1012h777.78A111.22 111.22 0 0 0 1012 900.89V595.33a27.76 27.76 0 0 0-27.78-27.77z"
                    p-id="2817"
                    fill="#1296db"
                  ></path>
                  <path
                    d="M409 615a27.77 27.77 0 0 0 39.28 0l555.58-555.58a27.77 27.77 0 0 0-39.28-39.28L409 575.69a27.77 27.77 0 0 0 0 39.31z"
                    p-id="2818"
                    fill="#1296db"
                  ></path></svg
              ></el-button>
              <el-button
                type="text"
                size="small"
                v-if="scope.row.status == '3'"
                @click="stateflag(scope.row)"
                ><svg
                  t="1627471677074"
                  class="icon"
                  viewBox="0 0 1159 1024"
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  p-id="877"
                  width="16"
                  height="16"
                >
                  <path
                    d="M1088.731 85.857c7.486 15.186-0.014 34.184-16.746 42.433L247.459 534.728c-16.735 8.25-36.37 2.625-43.855-12.56-7.485-15.184 0.013-34.183 16.748-42.432l824.525-406.438c16.734-8.248 36.368-2.626 43.854 12.56z"
                    p-id="878"
                    fill="#11a1f6"
                  ></path>
                  <path
                    d="M1067.131 69.833c16.507 3.765 27.377 17.834 24.278 31.421L938.702 770.787c-3.1 13.587-18.995 21.552-35.5 17.786-16.506-3.764-27.374-17.831-24.274-31.42l152.705-669.531c3.098-13.589 18.993-21.553 35.498-17.789z"
                    p-id="879"
                    fill="#11a1f6"
                  ></path>
                  <path
                    d="M1059.32 99.368c12.483 11.436 14.63 29.416 4.79 40.156l-484.802 529.24c-9.84 10.742-27.938 10.176-40.422-1.257-12.483-11.437-14.626-29.413-4.786-40.156L1018.9 98.111c9.839-10.741 27.937-10.177 40.42 1.257zM502.153 622.73c-6.02 16.604-24.36 25.185-40.965 19.166l-240.527-87.19c-16.606-6.02-25.187-24.36-19.168-40.965 6.02-16.605 24.36-25.186 40.965-19.167l240.526 87.192c16.606 6.018 25.187 24.36 19.169 40.964zM937.345 775.375c-6.019 16.605-24.36 25.186-40.966 19.167L655.851 707.35c-16.603-6.019-25.185-24.36-19.165-40.964s24.362-25.185 40.964-19.166l240.528 87.19c16.604 6.02 25.184 24.36 19.167 40.965z"
                    p-id="880"
                    fill="#11a1f6"
                  ></path>
                  <path
                    d="M585.576 911.117c0 17.662-14.318 31.98-31.98 31.98-17.663 0-31.981-14.318-31.981-31.98V655.275c0-17.662 14.318-31.98 31.98-31.98 17.663 0 31.98 14.318 31.98 31.98v255.842z"
                    p-id="881"
                    fill="#11a1f6"
                  ></path></svg
              ></el-button>
              <el-button
                @click="delDailog(scope.row)"
                type="text"
                size="small"
                v-if="scope.row.status == '3'"
                ><svg
                  t="1627471846738"
                  class="icon"
                  viewBox="0 0 1024 1024"
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  p-id="1884"
                  width="16"
                  height="16"
                >
                  <path
                    d="M896.042667 256a21.333333 21.333333 0 0 0-21.333334-21.333333h-725.333333a21.333333 21.333333 0 0 0 0 42.666666h725.333333a21.333333 21.333333 0 0 0 21.333334-21.333333z"
                    fill="#1296db"
                    p-id="1885"
                  ></path>
                  <path
                    d="M875.818667 234.666667l1.066666 0.128 1.066667 0.128 1.066667 0.170666 1.024 0.256 1.024 0.298667 0.981333 0.298667 0.981333 0.384 0.938667 0.426666 0.896 0.426667 0.896 0.597333 0.853333 0.554667 0.853334 0.554667 0.810666 0.64 0.768 0.682666 0.725334 0.725334 0.725333 0.725333 0.682667 0.768 0.64 0.810667 0.597333 0.853333 0.554667 0.853333 0.512 0.853334 0.469333 0.938666 0.426667 0.981334 0.384 0.938666 0.341333 0.981334 0.256 1.024 0.256 1.024 0.170667 1.066666 0.128 1.066667 0.085333 1.066667 0.042667 1.109333-0.042667 1.109333-0.085333 1.066667-0.128 1.066667-0.170667 1.066666-0.256 1.024-0.256 1.024-0.341333 0.981334-0.384 0.981333-0.426667 0.938667-0.469333 0.853333-0.512 0.938667-0.554667 0.853333-0.597333 0.853333-0.64 0.810667-0.682667 0.768-0.725333 0.768-0.725334 0.682667-0.768 0.682666-0.810666 0.64-0.853334 0.597334-0.853333 0.554666-0.896 0.512-0.896 0.426667-0.938667 0.426667-0.981333 0.426666-0.981333 0.341334-1.024 0.256-1.024 0.256-1.066667 0.170666-1.066667 0.128-1.066666 0.085334H148.266667l-1.066667-0.085334-1.066667-0.128L145.066667 276.906667l-1.024-0.256-1.024-0.256-0.981334-0.341334-0.981333-0.426666-0.938667-0.426667-0.896-0.426667-0.896-0.512-0.853333-0.554666-0.853333-0.597334-0.810667-0.64-0.768-0.682666-0.725333-0.682667-0.725334-0.768-0.682666-0.768-0.64-0.853333-0.597334-0.768-0.554666-0.896-0.512-0.896-0.469334-0.896-0.426666-0.938667-0.384-0.981333-0.341334-0.981334-0.256-1.024-0.256-1.024-0.170666-1.066666-0.128-1.066667-0.085334-1.066667L128.042667 256l0.042666-1.109333 0.085334-1.066667 0.128-1.066667 0.170666-1.066666 0.256-1.024 0.256-1.024 0.341334-0.981334 0.384-0.938666 0.426666-0.981334 0.469334-0.896 0.512-0.896 0.554666-0.853333 0.597334-0.853333 0.64-0.853334 0.682666-0.725333 0.725334-0.725333 0.725333-0.725334 0.768-0.682666 0.810667-0.64 0.853333-0.554667 0.853333-0.554667 0.896-0.554666 0.896-0.469334 0.938667-0.426666 0.981333-0.426667 0.981334-0.256 1.024-0.298667 1.024-0.256 1.066666-0.170666 1.066667-0.128 1.066667-0.085334 1.109333-0.042666h726.442667zM149.632 256h724.821333H149.632z"
                    fill="#1296db"
                    p-id="1886"
                  ></path>
                  <path
                    d="M405.333333 469.333333a21.333333 21.333333 0 0 0-42.666666 0v256a21.333333 21.333333 0 0 0 42.666666 0v-256z"
                    fill="#1296db"
                    p-id="1887"
                  ></path>
                  <path
                    d="M385.109333 448l1.066667 0.128 1.024 0.128 1.066667 0.170667 1.066666 0.256 1.024 0.298666 0.981334 0.298667 0.938666 0.384 0.981334 0.426667 0.853333 0.426666 0.938667 0.597334 0.853333 0.554666 0.853333 0.554667 0.768 0.64 0.810667 0.682667 0.725333 0.725333 0.682667 0.725333 0.725333 0.768 0.597334 0.810667 0.597333 0.853333 0.597333 0.853334 0.426667 0.853333 0.512 0.938667 0.426667 0.981333 0.426666 0.938667 0.298667 0.981333 0.298667 1.024 0.256 1.024 0.128 1.066667 0.170666 1.066666 0.042667 1.066667L405.333333 469.333333v256l-0.085333 1.109334v1.066666l-0.213333 1.066667-0.128 1.066667-0.256 1.024-0.298667 1.024-0.298667 0.981333-0.426666 0.981333-0.426667 0.938667-0.469333 0.853333-0.469334 0.938667-0.597333 0.853333-0.597333 0.853334-0.597334 0.810666-0.725333 0.768-0.682667 0.768-0.725333 0.682667-0.810667 0.682667-0.768 0.64-0.853333 0.597333-0.853333 0.554667-0.896 0.512-0.896 0.426666-0.981334 0.426667-0.938666 0.426667-0.981334 0.341333-1.024 0.256-1.066666 0.256-1.066667 0.170667-1.024 0.128-1.066667 0.085333h-2.218666l-1.066667-0.085333-1.066667-0.128-1.066666-0.170667-1.066667-0.256-0.981333-0.256-0.981334-0.341333-0.981333-0.426667-0.938667-0.426667-0.938666-0.426666-0.853334-0.512-0.853333-0.554667-0.853333-0.597333-0.810667-0.64-0.810667-0.682667-0.725333-0.682667-0.682667-0.768-0.682666-0.768-0.64-0.853333-0.597334-0.768-0.554666-0.896-0.512-0.896-0.426667-0.896-0.426667-0.938667-0.426666-0.981333-0.341334-0.981333-0.256-1.024-0.256-1.024-0.170666-1.066667-0.170667-1.066667-0.042667-1.066666L362.666667 725.333333v-257.109333l0.085333-1.066667 0.170667-1.066666 0.170666-1.066667 0.256-1.024 0.256-1.024 0.384-0.981333 0.341334-0.938667 0.426666-0.981333 0.469334-0.896 0.512-0.896 0.554666-0.853334 0.597334-0.853333 0.64-0.853333 0.682666-0.725334 0.682667-0.725333 0.725333-0.725333 0.810667-0.682667 0.810667-0.64 0.853333-0.554667 0.853333-0.554666 0.853334-0.554667 0.938666-0.469333 0.938667-0.426667 0.981333-0.426667 0.981334-0.256 0.981333-0.298666 1.066667-0.256 1.066666-0.170667 1.066667-0.128 1.066667-0.085333L384 448h1.109333zM384 469.632v255.488-255.488z"
                    fill="#1296db"
                    p-id="1888"
                  ></path>
                  <path
                    d="M533.333333 469.333333a21.333333 21.333333 0 0 0-42.666666 0v256a21.333333 21.333333 0 0 0 42.666666 0v-256z"
                    fill="#1296db"
                    p-id="1889"
                  ></path>
                  <path
                    d="M513.152 448l1.066667 0.128 1.024 0.128 1.066666 0.170667 1.066667 0.256 1.024 0.298666 0.981333 0.298667 0.938667 0.384 0.981333 0.426667 0.853334 0.426666 0.938666 0.597334 0.853334 0.554666 0.853333 0.554667 0.768 0.64 0.810667 0.682667 0.725333 0.725333 0.682667 0.725333 0.725333 0.768 0.597333 0.810667 0.597334 0.853333 0.597333 0.853334 0.426667 0.853333 0.512 0.938667 0.426666 0.981333 0.426667 0.938667 0.298667 0.981333 0.298666 1.024 0.256 1.024 0.128 1.066667 0.170667 1.066666 0.042667 1.066667 0.085333 1.109333v256l-0.085333 1.109334v1.066666l-0.213334 1.066667-0.128 1.066667-0.256 1.024-0.298666 1.024-0.298667 0.981333-0.426667 0.981333-0.426666 0.938667-0.469334 0.853333-0.469333 0.938667-0.597333 0.853333-0.597334 0.853334-0.597333 0.810666-0.725333 0.768-0.682667 0.768-0.725333 0.682667-0.810667 0.682667-0.768 0.64-0.853333 0.597333-0.853334 0.554667-0.896 0.512-0.896 0.426666-0.981333 0.426667-0.938667 0.426667-0.981333 0.341333-1.024 0.256-1.066667 0.256-1.066666 0.170667-1.024 0.128-1.066667 0.085333h-2.218667l-1.066666-0.085333-1.066667-0.128-1.066667-0.170667-1.066666-0.256-0.981334-0.256-0.981333-0.341333-0.981333-0.426667-0.938667-0.426667-0.938667-0.426666-0.853333-0.512-0.853333-0.554667-0.853334-0.597333-0.810666-0.64-0.810667-0.682667-0.725333-0.682667-0.682667-0.768-0.682667-0.768-0.64-0.853333-0.597333-0.768-0.554667-0.896-0.512-0.896-0.426666-0.896-0.426667-0.938667-0.426667-0.981333-0.341333-0.981333-0.256-1.024-0.256-1.024-0.170667-1.066667-0.170666-1.066667-0.042667-1.066666L490.666667 725.333333v-257.109333l0.085333-1.066667 0.170667-1.066666 0.170666-1.066667 0.256-1.024 0.256-1.024 0.384-0.981333 0.341334-0.938667 0.426666-0.981333 0.469334-0.896 0.512-0.896 0.554666-0.853334 0.597334-0.853333 0.64-0.853333 0.682666-0.725334 0.682667-0.725333 0.725333-0.725333 0.810667-0.682667 0.810667-0.64 0.853333-0.554667 0.853333-0.554666 0.853334-0.554667 0.938666-0.469333 0.938667-0.426667 0.981333-0.426667 0.981334-0.256 0.981333-0.298666 1.066667-0.256 1.066666-0.170667 1.066667-0.128 1.066667-0.085333L512 448h1.109333z m-1.109333 21.589333v255.488-255.488z"
                    fill="#1296db"
                    p-id="1890"
                  ></path>
                  <path
                    d="M661.333333 469.333333a21.333333 21.333333 0 0 0-42.666666 0v256a21.333333 21.333333 0 0 0 42.666666 0v-256z"
                    fill="#1296db"
                    p-id="1891"
                  ></path>
                  <path
                    d="M641.109333 448l1.066667 0.128 1.024 0.128 1.066667 0.170667 1.066666 0.256 1.024 0.298666 0.981334 0.298667 0.938666 0.384 0.981334 0.426667 0.853333 0.426666 0.938667 0.597334 0.853333 0.554666 0.853333 0.554667 0.768 0.64 0.810667 0.682667 0.725333 0.725333 0.682667 0.725333 0.725333 0.768 0.597334 0.810667 0.597333 0.853333 0.597333 0.853334 0.426667 0.853333 0.512 0.938667 0.426667 0.981333 0.426666 0.938667 0.298667 0.981333 0.298667 1.024 0.256 1.024 0.128 1.066667 0.170666 1.066666 0.042667 1.066667 0.085333 1.109333v256l-0.085333 1.109334v1.066666l-0.213333 1.066667-0.128 1.066667-0.256 1.024-0.298667 1.024-0.298667 0.981333-0.426666 0.981333-0.426667 0.938667-0.469333 0.853333-0.469334 0.938667-0.597333 0.853333-0.597333 0.853334-0.597334 0.810666-0.725333 0.768-0.682667 0.768-0.725333 0.682667-0.810667 0.682667-0.768 0.64-0.853333 0.597333-0.853333 0.554667-0.896 0.512-0.896 0.426666-0.981334 0.426667-0.938666 0.426667-0.981334 0.341333-1.024 0.256-1.066666 0.256-1.066667 0.170667-1.024 0.128-1.066667 0.085333h-2.218666l-1.066667-0.085333-1.066667-0.128-1.066666-0.170667-1.066667-0.256-0.981333-0.256-0.981334-0.341333-0.981333-0.426667-0.938667-0.426667-0.938666-0.426666-0.853334-0.512-0.853333-0.554667-0.853333-0.597333-0.810667-0.64-0.810667-0.682667-0.725333-0.682667-0.682667-0.768-0.682666-0.768-0.64-0.853333-0.597334-0.768-0.554666-0.896-0.512-0.896-0.426667-0.896-0.426667-0.938667-0.426666-0.981333-0.341334-0.981333-0.256-1.024-0.256-1.024-0.170666-1.066667-0.170667-1.066667-0.042667-1.066666L618.666667 725.333333v-257.109333l0.085333-1.066667 0.170667-1.066666 0.170666-1.066667 0.256-1.024 0.256-1.024 0.384-0.981333 0.341334-0.938667 0.426666-0.981333 0.469334-0.896 0.512-0.896 0.554666-0.853334 0.597334-0.853333 0.64-0.853333 0.682666-0.725334 0.682667-0.725333 0.725333-0.725333 0.810667-0.682667 0.810667-0.64 0.853333-0.554667 0.853333-0.554666 0.853334-0.554667 0.938666-0.469333 0.938667-0.426667 0.981333-0.426667 0.981334-0.256 0.981333-0.298666 1.066667-0.256 1.066666-0.170667 1.066667-0.128 1.066667-0.085333L640 448h1.109333z"
                    fill="#1296db"
                    p-id="1892"
                  ></path>
                  <path
                    d="M631.509333 128.597333c38.570667 1.450667 71.978667 35.754667 72.490667 74.24V277.333333h-384c0-36.010667-6.4-74.410667 5.802667-103.338666 10.88-25.6 36.693333-43.52 64.725333-45.312 80.213333-3.072 160.682667-1.066667 240.981333-0.085334zM394.666667 170.666667c-16.213333 0-31.744 15.36-32 32.213333V234.666667h298.666666c0-38.912-5.12-64-39.424-64-78.677333 0.085333-148.224 0-227.242666 0z"
                    fill="#1296db"
                    p-id="1893"
                  ></path>
                  <path
                    d="M789.333333 797.994667c-0.64 51.072-44.117333 96-95.616 97.962666-121.386667 1.536-242.773333 1.536-364.117333 0-50.688-1.92-94.250667-46.293333-94.890667-97.28V234.624h554.581334v563.370667zM277.333333 277.333333c0 174.677333-6.528 349.44 0.085334 524.074667 0.170667 2.304 0.426667 4.565333 0.853333 6.826667 4.608 24.32 26.282667 43.477333 51.029333 45.013333 121.514667 4.650667 243.285333 4.650667 364.8 0a57.344 57.344 0 0 0 52.565334-55.509333V277.333333h-469.333334z"
                    fill="#1296db"
                    p-id="1894"
                  ></path></svg
              ></el-button>
              <el-button
                v-if="scope.row.status == '1'"
                @click="handleClick(scope.row)"
                type="text"
                size="small"
              >
                <svg
                  t="1627478343118"
                  class="icon"
                  viewBox="0 0 1024 1024"
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  p-id="2679"
                  width="16"
                  height="16"
                >
                  <path
                    d="M834.77 351.69c-58.72-58.72-136.84-91.07-219.86-91.07H262.82l52.66-45.16c18.61-15.94 20.7-43.93 4.76-62.5-15.94-18.61-43.93-20.74-62.47-4.8L114.15 271.3c-0.53 0.46-1.01 0.96-1.52 1.44-0.41 0.39-0.83 0.76-1.22 1.16-0.64 0.65-1.23 1.33-1.83 2.01-0.37 0.42-0.74 0.84-1.09 1.28-0.55 0.68-1.06 1.39-1.57 2.1-0.35 0.49-0.7 0.99-1.03 1.5-0.45 0.69-0.87 1.39-1.28 2.1-0.34 0.58-0.66 1.17-0.97 1.77-0.35 0.68-0.68 1.37-1 2.08-0.3 0.66-0.57 1.32-0.84 1.99-0.28 0.7-0.54 1.41-0.78 2.12-0.22 0.67-0.43 1.35-0.62 2.04-0.22 0.78-0.42 1.55-0.6 2.34-0.13 0.6-0.25 1.21-0.36 1.83-0.17 0.93-0.32 1.86-0.43 2.8-0.05 0.45-0.09 0.9-0.13 1.36-0.06 0.68-0.16 1.35-0.19 2.04-0.12 3.49 0.18 6.94 0.85 10.31 0.04 0.19 0.07 0.38 0.11 0.57 0.25 1.17 0.55 2.33 0.89 3.48 0.1 0.32 0.19 0.64 0.3 0.96 0.34 1.04 0.71 2.06 1.12 3.07a41.462 41.462 0 0 0 1.83 3.95c0.18 0.35 0.37 0.69 0.57 1.03 0.53 0.94 1.08 1.86 1.67 2.76 0.19 0.29 0.39 0.57 0.59 0.86 0.64 0.92 1.3 1.82 2.01 2.69 0.18 0.22 0.37 0.43 0.55 0.64 0.69 0.82 1.42 1.62 2.17 2.39 0.15 0.15 0.29 0.31 0.44 0.46l143.48 143.44c8.66 8.66 19.98 12.98 31.31 12.98 11.33 0 22.72-4.33 31.38-12.98 17.24-17.31 17.24-45.37-0.07-62.68L250 349.28h364.86c59.37 0 115.2 23.12 157.18 65.1 42.05 42.02 65.21 97.85 65.21 157.25 0 122.63-99.83 222.42-222.46 222.46H266.07c-24.45 0-44.29 19.84-44.29 44.33s19.84 44.33 44.29 44.33h348.84c171.46-0.04 310.97-139.61 310.97-311.11 0-83.08-32.32-161.2-91.11-219.95z"
                    fill="#11a1f6"
                    p-id="2680"
                  ></path>
                </svg>
              </el-button>
              <el-button
                v-if="scope.row.status == '1'"
                @click="handleClick(scope.row)"
                type="text"
                size="small"
              >
                <svg
                  t="1627478458236"
                  class="icon"
                  viewBox="0 0 1024 1024"
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  p-id="3728"
                  width="16"
                  height="16"
                >
                  <path
                    d="M928.842245 512.091074c0-5.006014-0.846274-9.193383-1.086751-9.691733-0.182149-2.480494-1.028423-7.001461-1.815345-9.374508-0.210801-0.590448-0.484024-1.209548-0.724501-1.799996-0.424672-1.360997-0.876973-2.691295-1.390673-3.749394-76.871785-168.137395-242.376213-281.144168-411.782507-281.144168-169.375595 0-334.865697 112.902396-411.388535 280.130072-0.921999 1.815345-1.572822 3.553942-1.981121 5.066389-0.181125 0.49835-0.39295 0.967024-0.558725 1.406023-1.512447 4.430916-1.542122 7.514137-1.421372 6.712889-0.710175 3.251044-1.360997 9.722432-1.360997 9.722432-0.181125 1.949398-0.181125 3.50687 0.030699 5.442966 0 0 0.649799 5.65479 0.968048 6.80294 0.090051 1.602498 0.483001 3.931542 0.951675 6.048763l-0.030699 0c0.408299 1.814322 0.968048 3.568269 1.738597 5.291516 0.393973 1.330298 0.862647 2.570545 1.270946 3.507894 76.976162 168.166047 242.436588 281.20352 411.781484 281.20352 169.436994 0 334.941422-112.945375 410.936233-279.328823 1.177825-2.177596 1.935072-4.233418 2.448772-6.018064 0.2415-0.543376 0.454348-1.027399 0.604774-1.511423 1.331321-3.872191 1.602498-7.227612 1.481747-7.227612l-0.028653 0.029676C928.027693 520.921183 928.842245 516.89959 928.842245 512.091074zM872.717993 514.146896c-0.029676 0.121773-0.091074 0.272199-0.151449 0.393973-0.090051 0.36225-0.240477 0.785899-0.332575 1.209548-68.403926 147.420561-212.830293 246.337431-360.191502 246.337431-146.997935 0-291.168476-98.642624-360.252901-246.578931-0.166799-0.5137-0.287549-0.998747-0.468674-1.481747-0.030699-0.484024-0.12075-0.876973-0.150426-1.150196-0.060375-0.300852-0.12075-0.724501-0.166799-1.088798l0-0.3776c0.166799-0.620124 0.286526-1.239224 0.347924-1.919722 0.12075-0.36225 0.211824-0.710175 0.347924-1.103124C220.132094 360.89042 364.680235 261.928524 512.041444 261.928524c147.420561 0 291.940049 99.051947 360.161826 246.322082 0.060375 0.287549 0.121773 0.530073 0.212848 0.726547 0.060375 0.2415 0.119727 0.484024 0.240477 0.740874 0.151449 1.104147 0.272199 2.192945 0.423649 2.736321C872.899118 513.028423 872.809067 513.572822 872.717993 514.146896zM512.041444 373.060601c-76.598562 0-138.954749 62.325487-138.954749 138.939399 0 76.598562 62.356187 138.954749 138.954749 138.954749 76.598562 0 138.954749-62.356187 138.954749-138.954749C650.996193 435.386088 588.640006 373.060601 512.041444 373.060601zM512.041444 595.372849c-45.935192 0-83.371826-37.406958-83.371826-83.371826 0-45.950542 37.436634-83.356476 83.371826-83.356476 45.964868 0 83.373873 37.406958 83.373873 83.356476C595.414293 557.965891 558.006312 595.372849 512.041444 595.372849z"
                    p-id="3729"
                    fill="#11a1f6"
                  ></path>
                </svg>
              </el-button>
            </template>
          </el-table-column>
        </el-table>
        <div class="find">
          <div class="find1">
            <el-pagination
              small
              layout="prev, pager, next"
              :total="total"
              @current-change="change"
            >
            </el-pagination>

            <el-dialog title="提示" v-model="dialogVisible">
              <span>确定要删除么</span>
              <template #footer>
                <span class="dialog-footer">
                  <el-button @click="dialogVisible = false">取 消</el-button>
                  <el-button type="primary" @click="Isok">确 定</el-button>
                </span>
              </template>
            </el-dialog>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { reactive, toRefs } from "vue";
import api from "@/api";
import { useRouter } from "vue-router";
export default {
  setup() {
    let data = reactive({
      list: [],
      statusList: [
        { id: "1", name: "草稿" },
        { id: "2", name: "已发布" },
        { id: "3", name: "待审核" },
        { id: "4", name: "已驳回" },
      ],
      activeindex: 0,
      activeindexone: 0,
      dialogVisible: false,
      tablist: [],
      total: "",
      stationVersionId: "", //删除id
      //改变状态

      parameter: {
        isAsc: "desc",
        pageNum: 1,
        pageSize: 10,
        searchTitle: "",
        majorId: null,
        status: null,
        isMyInfo: false,
      },
    });

    const router = useRouter();
    const change = async (val) => {
      data.parameter.pageNum = val;
      gettabList({
        ...data.parameter,
      });
    };
    const getjob = async () => {
      let res = await api.job._getMajorList();
      data.list = res.data.data;
    };
    const activeClick = (id, ind) => {
      data.activeindex = ind;
      let one = ind + 1;
      let two = "P000" + one;
      data.parameter.majorId = two;
      gettabList({
        ...data.parameter,
      });
    };
    const activeClickone = (id, ind) => {
      data.activeindexone = ind;
    };
    getjob();
    const handleClick = (row) => {
      router.push({
        name: "Jobdel",
        params: row,
      });
    };
    const methods = {
      delDailog: (a) => {
        data.dialogVisible = true;
        data.stationVersionId = a.stationVersionId;
      },
      Isok: async () => {
        data.dialogVisible = false;
        await api.job._deletePost({
          stationVersionId: data.stationVersionId,
        });
        gettabList();
      },
      stateflag: async (a) => {
        let res = await api.job._updateStatus({
          stationVersionId: a.stationVersionId,
        });

        let aa = +res.data.data.status + "";

        gettabList({
          ...data.parameter,
          status: aa,
        });
      },
    };
    const gettabList = async (parameter) => {
      console.log(parameter);
      let res = await api.job._getPostList(parameter);
      data.tablist = res.data.rows;
      data.total = res.data.total;
    };
    gettabList(data.parameter);
    return {
      ...toRefs(data),
      getjob,
      activeClick,
      activeClickone,
      handleClick,
      gettabList,
      change,
      ...methods,
    };
  },
};
</script>

<style lang="scss" scoped>
.job {
  width: 100%;
  height: auto;
  background: rgba(178, 183, 198, 0.15);
  .top {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: rgba(103, 156, 246, 0.1);
    div {
      padding: 30px;
      width: 1200px;
      margin: 0 auto;

      .toph {
        color: #999;
      }
      .toph:hover {
        color: #679cf6;
      }
    }
  }
  .mian {
    width: 1200px;
    margin: 0 auto 20px;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    .tib {
      width: 100%;
      background: #fff;
      margin-top: 10px;
      .tags {
        padding-top: 10px;
        width: 100%;
        margin: 0 auto;
        background: #fff;

        display: flex;
        align-items: center;
        .tags_title {
          width: 70px;
          height: 50px;
          line-height: 50px;
          text-align: center;
        }
        .tags_count {
          flex: 1;
          display: flex;
          flex-wrap: wrap;
          li {
            padding: 6px 20px;
            user-select: none;
            cursor: pointer;
            margin-left: 5px;
            margin-bottom: 5px;
          }
          li:hover {
            background: #679cf6;
            color: #fff;
            border-radius: 20px;
          }
          .active {
            background: #679cf6;
            color: #fff;
            border-radius: 20px;
          }
        }
      }
    }
    .tab {
      width: 100%;
      margin-top: 10px;
      .find {
        width: 100%;
        height: 50px;
        .find1 {
          float: right;
        }
      }
    }
  }
}
</style>
