<template>
  <div>1231</div>
</template>

<script>
import { onMounted } from "@vue/runtime-core";
import { useRoute } from "vue-router";
import { reactive, toRefs } from "vue";
export default {
  setup() {
    let data = reactive({
      list: [],
    });
    const router = useRoute();
    const list = () => {
      console.log(router.params);
    };
    onMounted(list);
    return {
      ...toRefs(data),
    };
  },
};
</script>

<style></style>
