<template>
  <div class="wraper" ref="mapWraper"></div>
</template>
<script>
/* eslint-disable no-undef */
import {
  defineComponent,
  onMounted,
  reactive,
  ref,
  toRefs,
  watch,
  computed,
} from "vue";
export default defineComponent({
  props: {
    position: {
      default: {
        lat: 116.303084,
        lon: 39.992147,
      },
    },
  },
  setup(props) {
    let pos = computed(() => {
      return props.position;
    }).value;
    const state = reactive({
      map: null,
    });
    let mapWraper = ref(null);
    // 初始化方法
    const init = function () {
      // 初始化百度地图
      state.map = new BMapGL.Map(mapWraper.value);
      // 设置中心点和缩放比例尺
      const where = new BMapGL.Point(pos.lat, pos.lon);
      state.map.centerAndZoom(where, 11);
    };
    // 监听props变化
    watch(props, (newProps) => {
      pos = newProps.position;
      init();
    });
    // 必须在这个声明周期里调用
    onMounted(() => {
      init();
    });

    return {
      ...toRefs(state),
      mapWraper,
    };
  },
});
</script>
<style lang="scss">
.wraper {
  position: absolute;
  width: 800px;
  top: 80px;
  bottom: 20px;
}
</style>
